<fieldset>
  <label for='translation_locale'><%= translate('app.labels.language') %></label>
  <%= form.text_field :locale, name: 'translation[locale]', id: 'translation_locale' %>
</fieldset>
<fieldset>
  <label for='name_key'><%= translate('app.labels.code') %></label>
  <%= form.text_field :key, name: 'translation[key]', id: 'name_key' %>
</fieldset>
<fieldset>
  <label for='translation_value'><%= translate('app.labels.message') %></label>
  <%= form.text_area :value, name: 'translation[value]', id: 'translation_value' %>
</fieldset>
<fieldset>
  <%= form.submit translate('app.labels.save_translation') %>
  <%= link_to translate('app.labels.cancel'), translations_path() %>
</fieldset>
