<fieldset>
  <label for='translation_locale'>Locale</label>
  <%= form.text_field :locale, name: 'translation[locale]', id: 'translation_locale' %>
</fieldset>
<fieldset>
  <label for='translation_key'>Code</label>
  <%= form.text_field :key, name: 'translation[key]', id: 'translation_key' %>
</fieldset>
<fieldset>
  <label for='translation_value'>Message</label>
  <%= form.text_area :value, name: 'translation[value]', id: 'translation_value' %>
</fieldset>
<fieldset>
  <%= form.submit 'Save Translation' %>
  <%= link_to "Cancel", translations_url() %>
</fieldset>
