<h1>Translations Listing 1</h1>
<p><%= link_to "Create new Translation", new_translation_url() %></p>
<table>
  <thead>
    <tr>
      <th>Locale</th>
      <th>Key</th>
      <th>Translated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @translations.each do |t| %>
      <tr id="<%= t.key %>">
        <td><%= t.locale %></td>
        <td style='word-break: break-all; min-width: 130px;'><%= t.key %></td>
        <td style='min-width: 130px;'><%= t.value.blank? ? '' : t.value %></td>
        <td>
          <%= link_to "Edit", edit_translation_url(id: t.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
