<% content_for(:title_code, 'translations.labels.listing_by_key') %>
<% content_for(:page_class, 'translations') %>

<p><%= link_to translate('app.labels.create'), new_translation_url() %></p>
<table>
  <thead>
    <tr>
      <th colspan='3' style='text-align: left; background-color: #eee;'><%= translate('translations.labels.key') %></th>
    </tr>
    <tr>
      <th style='text-align: left;'></th>
      <th style='text-align: left;'><%= translate('translations.labels.locale') %></th>
      <th style='text-align: left;'><%= translate('translations.labels.value') %></th>
    </tr>
  </thead>
  <tbody>
    <% @last_key = '' %>
    <% @translations.each do |t| %>
      <% if t.key != @last_key %>
        <tr data_key="<%= t.key %>">
          <th colspan="3" style='text-align: left; background-color: #eee;'><%= t.key %></th>
        </tr>
        <% @last_key = t.key %>
      <% end %>
      <tr id="<%= t.key %>">
        <td style='min-width: 40px;'>&nbsp;</td>
        <td><%= t.locale %></td>
        <td>
          <%= t.value.blank? ? '' : t.value %>
          <a href="<%= link_to translate('app.labels.edit'), edit_translation_url(id: t.id) %>">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
