<% content_for(:title, 'Translations Listing 2') %>
<% content_for(:page_class, 'translations') %>

<h1>Translations Listing 2</h1>
<p><%= link_to "Translations Listing 2", new_translation_url() %></p>
<table>
  <thead>
    <tr>
      <th colspan='3' style='text-align: left; background-color: #eee;'>Key</th>
    </tr>
    <tr>
      <th style='text-align: left;'></th>
      <th style='text-align: left;'>Locale</th>
      <th style='text-align: left;'>Translated</th>
    </tr>
  </thead>
  <tbody>
    <% @last_key = '' %>
    <% @translations.each do |t| %>
      <% if t.key != @last_key %>
        <tr data_key="<%= t.key %>">
          <th colspan="3" style='text-align: left; background-color: #eee;'><%= t.key %>&nbsp;("Edit All?")</th>
        </tr>
        <% @last_key = t.key %>
      <% end %>
      <tr id="<%= t.key %>">
        <td style='min-width: 40px;'>&nbsp;</td>
        <td><%= t.locale %></td>
        <td>
          <%= t.value.blank? ? '' : t.value %>
          <a href="<%= link_to 'Edit', edit_translation_url(id: t.id) %>">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
