	<% if tfv_design?(@treeTypeRec.code) %>
	  <div id="footerTFV">
	    <div id="footerTitle"><%= @appTitle %></div>
	    <div class="generic-grid generic-grid--cols-3-1-1">
	      <div class="">
	        <div class="footerTFV__col-header">
	          <%= t('footer.contact_us') %>
	        </div>
	        <div class="footerTFV__col-box">
	          <%= tfv_links?(@treeTypeRec.code) ? t('footer.unesco_address').html_safe : t('footer.pstem_address').html_safe %>
	        </div>
	        <div class="footerTFV__col-box">
	          <%= tfv_links?(@treeTypeRec.code) ? t('footer.unesco_contact').html_safe : t('footer.pstem_contact').html_safe %>
	        </div>
	        <div class="footerTFV__col-box">
	          <%= t('footer.support').html_safe %>
	        </div>
	      </div>
	      <div class="">
	        <div class="footerTFV__col-header">
	          <%= t('footer.navigate') %>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= new_user_session_url %>"><%= t('nav_bar.signin.name') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= new_user_url %>"><%= t('devise.registrations.sign_up') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= new_user_password_url %>"><%= t('devise.shared.links.forgot_your_password') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= new_user_confirmation_url %>"><%= t('devise.shared.links.didn_t_receive_confirmation_instructions') %></a>
	        </div>
	      </div>
	      <div class="">
	        <div class="footerTFV__col-header">
	          <%= t('footer.terms.header') %>
	        </div>
	        <div class="footerTFV__col-box">
	          <%= t('footer.terms.use') %>
	        </div>
	        <div class="footerTFV__col-box">
	          <%= t('footer.terms.cookie') %>
	        </div>
	      </div>
	      <div class="">
	        <div class="footerTFV__col-header">
	          <%= t('footer.donor.header') %>
	        </div>
	        <div class="footerTFV__col-box">
	          <%= tfv_links?(@treeTypeRec.code) ? t('footer.donor.desc') : t('footer.donor.pstem_desc').html_safe %>
	        </div>
	        <button>
	          <%= t('footer.donor.button') %>
	        </button>
	      </div>
	      <div>
	        <div class="footerTFV__col-header">
	          <%= t('footer.follow.header') %>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= tfv_links?(@treeTypeRec.code) ? 'https://www.facebook.com/IBEUNESCO' : '#' %>" title="<%= t('footer.follow.fb') %>" target="_blank"><%= t('footer.follow.fb') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= tfv_links?(@treeTypeRec.code) ? 'https://twitter.com/IBE_UNESCO' : '#' %>" title="<%= t('footer.follow.tw') %>" target="_blank"><%= t('footer.follow.tw') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= tfv_links?(@treeTypeRec.code) ? 'https://www.youtube.com/user/UnescoIBE' : '#' %>" title="<%= t('footer.follow.yt') %>" target="_blank"><%= t('footer.follow.yt') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= tfv_links?(@treeTypeRec.code) ? 'https://www.flickr.com/photos/ibe-unesco/' : '#' %>" title="<%= t('footer.follow.fl') %>" target="_blank"><%= t('footer.follow.fl') %></a>
	        </div>
	        <div class="footerTFV__col-box">
	          <a href="<%= tfv_links?(@treeTypeRec.code) ? 'http://www.ibe.unesco.org/en/news.rss' : '#' %>" title="<%= t('footer.follow.rss') %>" target="_blank"><%= t('footer.follow.rss') %></a>
	        </div>
	      </div>
	    </div>
	    <img src="<%= Rails.configuration.root_url %>/logo_shared.png" />
	  </div>
	  <div class="copyright">
	    <%= t('footer.copyright').html_safe %>
	  </div>
	</div>
	<% end %>
</div> <!-- closes div from devise/shared/_logged_out_header -->