<% content_for(:title_code, 'sectors.index.title') %>
<% content_for(:page_class, 'sectors') %>

<div class='filter-container'>
  <div class='filter-selects'>
    <%= form_for @sector, url: sectors_path, :html => { :method => 'GET' } do |form| %>
      <div class='row'>
        <div class='col col-md-12'><%= translate('sectors.labels.future_vision_filter') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-2 border-left border-top'><label for='tree_subject_id'><%= translate('app.labels.subject') %></label></div>
        <div class='col col-md-2 border-top'><label for='tree_grade_band_id'><%= translate('app.labels.grade_band') %></label></div>
        <div class='col col-md-6 border-top'><label for='tree_sector_id'><%= translate('app.labels.sector') %></label></div>
        <div class='col col-md-2 border-top border-right'><%= translate('app.labels.actions') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-2 border-left border-bottom'>
          <select name='tree[subject_id]' id='tree_subject_id' class='subject-with-gb'>
            <%= options_for_select(@subjectOptions, @subject_id) %>
          </select>
        </div>
        <div class='col col-md-2 border-bottom'>
          <span id='all-gbs-select'><%= collection_select(:tree, :grade_band_id, @gbs, :id, :code, include_blank: I18n.t('app.labels.all') ) %></span>
          <span id='upper-gbs-select' class='hidden'><%= collection_select(:tree, :grade_band_id, @gbs_upper, :id, :code, include_blank: I18n.t('app.labels.all') ) %></span>
        </div>

        <div class='col col-md-6 border-bottom'>
          <select name='tree[sector_id]' id='tree_sector_id'>
            <%= options_for_select(@sectorsOptions, @sector_id) %>
          </select>
        </div>
        <div class='col col-md-2 border-bottom border-right'><%= form.submit translate('app.labels.gen_list'), :class => 'btn-primary' %></div>
      </div>
    <% end %>
  </div>
</div>

<div class='table-responsive'>
  <table class='tree-listing table'>
    <thead>
      <% if @rptRows.count > 0 %>
        <tr class='rpt-header'>
          <th colspan="3"><%= translate('app.labels.sector') %></th>
        </tr>
        <tr class='rpt-header'>
          <!-- th class='sector-col'>&nbsp;</th -->
          <th class='code-col'><%= translate('app.labels.code') %></th>
          <th class='translation-col'><%= translate('app.labels.indicators') %></th>
          <th class='translation-col'><%= translate('app.labels.explanation') %></th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <% @rptRows.each_with_index do |r, ix|
        if r[0].present?
      %>
        <tr class='rpt' data-sector='<%= r[0] %>' data-row='<%= ix %>'>
          <td colspan='3' class='sector-row'>&nbsp;<%= r[2] %></td>
        </tr>
      <% else %>
        <tr class='rpt' data-tree='<%= r[1] %>' data-row='<%= ix %>'>
          <td class='code-col'><a href='<%= tree_path(r[3]) %>'><%= r[1] %></a></td>
          <td class='translation-col'><a href='<%= tree_path(r[3]) %>'><%= r[2] %></a></td>
          <td class='explanation-col'><%= r[4] %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
