
<div id='edit-user'>
  <div class='text-center'><%= @user.full_name %> (<%= @user.email %>)</div>
  <%= form_for @user, url: user_path(@user.id), :html => { :class => "registrationForm" } do |f| %>

    <div class='row-stripes'>
      <%= render partial: 'users/form_email', :locals => {:form => f} %>
      <%= render partial: 'users/form_other', :locals => {:form => f} %>
      <%= render partial: 'users/form_flags', :locals => {:form => f} %>
      <%= render partial: 'users/form_submit_cancel', :locals => {:form => f} %>
    </div>
  <% end %>
  </div>
</div>
