

<div class="row">
  <span class='col col-md-4 label-col'>
    <%= form.label :password %>
    <span class='required'>*</span>
  </span>
  <span class='col col-md-8 input-col'>
    <%= form.password_field :password, placeholder: (@minimum_password_length ? "#{@minimum_password_length} characters minimum" : ""), autocomplete: "off" %>
    <% if @minimum_password_length %>
    <% elsif @user.errors.present? && @user.errors[:password].present? %>
      <span class='ui-error'><%= @user.errors[:password].join(', ') %></span>
    <% end %>
  </span>
</div>

<div class="row">
  <span class='col col-md-4 label-col'>
    <%= form.label :password_confirmation %>
    <span class='required'>*</span>
  </span>
  <span class='col col-md-8 input-col'>
    <%= form.password_field :password_confirmation, autocomplete: "off" %>
    <% if @user.errors.present? && @user.errors[:password_confirmation].present? %>
      <span class='ui-error'><%= @user.errors[:password_confirmation].join(', ') %></span>
    <% end %>
  </span>
</div>
