<div class='reg-container row'>
  <div class='col-sm-0 col-md-3'>
  </div>
  <div class='col-sm-12 col-md-6'>
    <% if current_user.is_admin? %>
      <div class='input-form row'>
        <label for='role-admin' class='col-md-4'><%= I18n.translate('users.labels.web_admin') %></label>
        <input type='hidden' name='user[role_admin]' value='off' />
        <span class='col-md-8'>
          <% if @user.is_admin? %>
            <input type='checkbox' name='user[role_admin]' checked='checked' />
          <% else %>
            <input type='checkbox' name='user[role_admin]' />
          <% end %>
          <% if @user.errors.present? && @user.errors[:role_admin].present? %>
            <span class='ui-error'><%= @user.errors[:role_admin].full_messages %></span>
          <% end %>
        </span>
      </div>
      <div class='input-form row'>
        <label for='role-teacher' class='col-md-4'><%= I18n.translate('users.labels.teacher') %></label>
        <input type='hidden' name='user[role_teacher]' value='off' />
        <span class='col-md-8'>
          <% if @user.is_teacher? %>
            <input type='checkbox' name='user[role_teacher]' checked='checked' />
          <% else %>
            <input type='checkbox' name='user[role_teacher]' />
          <% end %>
          <% if @user.errors.present? && @user.errors[:role_teacher].present? %>
            <span class='ui-error'><%= @user.errors[:role_teacher].full_messages %></span>
          <% end %>
        </span>
      </div>
    <% end %>
    <div class='input-form row'>
      <label for='role-req-teacher' class='col-md-4'><%= I18n.translate('users.labels.req_teacher') %></label>
      <input type='hidden' name='user[role_req_teacher]' value='off' />
      <span class='col-md-8'>
        <% if @user.is_requesting_teacher_role? %>
          <input type='checkbox' name='user[role_req_teacher]' checked='checked' />
        <% else %>
          <input type='checkbox' name='user[role_req_teacher]' />
        <% end %>
        <% if @user.errors.present? && @user.errors[:role_req_teacher].present? %>
          <span class='ui-error'><%= @user.errors[:role_req_teacher].full_messages %></span>
        <% end %>
      </span>
    </div>
    <div class='input-form row'>
        <label for='email' class='col-md-4'>email</label>
        <input class='col-md-8' name='user[email]' value='<%= @user.email %>'></label>
    </div>
  </div>
  <div class='col-sm-0 col-md-3'>
  </div>

</div>
