<% content_for(:page_class, 'users') %>

<%
if @current_user && @current_user.is_admin? %>
  <div id='users-menu' class='sub-menu'>
    <div class='row'>
      <div class='col col-md-3 border-left border-top'>
        <a class="nav-link btn btn-info" href="<%= edit_user_registration_path %>"><%= translate('users.nav.change_pwd') %></a>
      </div>
      <div class='col col-md-3 border-left border-top'>
        <a class="nav-link btn btn-info" href='/users/<%= current_user.id %>'><%= translate('users.nav.my_account') %></a>
      </div>
      <div class='col col-md-3 border-left border-top'>
        <a class="nav-link btn btn-info" href='/users/registrations'><%= translate('users.nav.registrations') %></a>
      </div>
      <div class='col col-md-3 border-left border-top'>
        <a class="nav-link btn btn-info" href='/users'><%= translate('users.nav.all_users') %></a>
      </div>
    </div>
  </div>
<%
end
if ['home', 'registration'].include?(action_name)
%>
<% content_for(:title_code, 'users.registration.name') %>
<%= render partial: 'registration', :locals => {:user => current_user} %>
<%
end
if ['my_account', 'show', 'edit', 'update', 'new', 'create'].include?(action_name)
%>
<% content_for(:title_code, 'users.my_account.name') %>
<%= render partial: 'edit' %>
<%
end
if action_name == 'registrations'
%>
<% content_for(:title_code, 'users.registrations.name') %>
<%= render partial: 'registrations' %>
<%
end
if action_name == 'index'
%>
<% content_for(:title_code, 'users.index.name') %>
<%= render partial: 'listing' %>
<% end %>
