<ul class="list-group maint-column">
  <div id="subject_code_hidden" class="hidden"><%= @subject_code %></div>
  <li>
    <%= render partial: "maint_filter", locals: {col: "tree"} %>
  </li>
  <%
   @treeByParents.each do |tkey, codeh| %>
    <li class="maint-header indent-0"><%= @translations[tkey] %></li>
    <% codeh.each do |code, h| %>
      <% if h[:outcome] %>
      <%
         dimsInfo = {}
         @dimsArray.each do |dim|
           dimsInfo[dim[:code]] = {
            found: 0,
            str: ""
           }
         end
       %>
      <li id="<%= h[:subj_code] %>_tree_<%= h[:id] %>" class="sequence-item maint-item indent-3 <%= h[:selectors_by_parent] %> list-group-item level-<%= h[:depth] - 1 %>" data-treeid="<%= h[:id] %>">
        <a href="<%= tree_path(h[:id])%>" title="<%= h[:text] %>"><%= h[:depth_name] %>:
        <span class="js-tree-code"><strong><em><%= h[:formatted_code] %></em></strong></span>
        </a>
        <%= h[:text].html_safe %>
        <% if h[:dimtrees].length > 0 %>
        <% h[:dimtrees].each do |dt|
             dim = dt.dimension
             dimsInfo[dim.dim_code][:found] += 1
             #dimSubjKey = Subject.get_default_name_key(dim.subject_code)
             dimsInfo[dim.dim_code][:str] += "<br/>______________<br/>"
             dimsInfo[dim.dim_code][:str] += "#{@translations[dim.dim_name_key]}"
          end #h[:dimtrees].each do |dt|
          @dimsArray.each do |dim|
            dimsInfo[dim[:code]][:str] = "<strong>#{(dimsInfo[dim[:code]][:found] > 1 ? dim[:name] : dim[:name].singularize)}:</strong>#{dimsInfo[dim[:code]][:str]}"
            if dimsInfo[dim[:code]][:found] > 0 %>
              <i class="letter-icon link-blue" data-toggle="tooltip" title="<%= dimsInfo[dim[:code]][:str] %>"><%= dim[:name][0 .. 0].upcase %></i>
         <% end #if dimsInfo[dim[:code]][:found] > 0
          end #@dimsArray.each do |dim|
        %>
        <% end #if h[:dimtrees].length > 0 %>
        <% if @editing %>
        <div class="pull-right">
          <!-- TO DO: Implement working resequence button and deactivate button -->
          <a class="" href="/<%= @locale_code %>/trees/<%= h[:id] %>?editme=<%= h[:id] %>">
            <i class="fa fa-edit pull-right" data-toggle="tooltip" title="<%= I18n.translate("trees.edit.tooltip", tree_depth_name: @hierarchies[@treeTypeRec[:outcome_depth]], tree_code: h[:formatted_code]) %>"></i>
          </a>
          <a class="sort-handle lo-handle" onclick=""><i class="fa fa-thumb-tack pull-right link-blue" data-toggle="tooltip" title="<%= I18n.translate("trees.sequencing.tooltip", tree_depth_name: @hierarchies[@treeTypeRec[:outcome_depth]]) %>"></i></a>
        </div>
        <% end %>
      </li>
      <!-- TO DO: Find a different workaround for hiding indicator-level items -->
      <% elsif h[:depth] > @treeTypeRec.outcome_depth+1 %>
      <% else %>
        <li id="<%= h[:subj_code] %>_tree_<%= h[:id] %>" class="sequence-item maint-sub-header list-group-item indent-<%= h[:depth]-1 %> <%= h[:selectors_by_parent] %> level-<%= h[:depth] - 1 %>" data-treeid="<%= h[:id] %>">
          <a class="" onclick="toggle_visibility('.child-of-<%= code.split(".").join("-") %>', '#trigger-<%= code.split(".").join("-") %>')">
            <i id="trigger-<%= code.split(".").join("-") %>" class="fa fa-compress pull-left option-selected link-blue accordion" title="collapse"></i>
          </a>
          <%= "#{h[:depth_name]} #{"#{h[:formatted_code]}: " if h[:depth] > 1}" %>
          <%= h[:text].html_safe %>
          <a class="createLO" onclick="" data-target="#modal_popup" data-remote="true" data-parentCode="<%= h[:code] %>" data-subjectId=<%= h[:subject_id] %> data-gbId=<%= h[:grade_band_id] %> data-nextSortOrder="<%= h[:nextSortOrder] %>" data-childDepth="<%= @treeTypeRec[:outcome_depth] %>"><i class="fa fa-plus pull-right link-blue" data-toggle="tooltip" title="<%= I18n.translate("app.labels.create_item", item: @hierarchies[@treeTypeRec[:outcome_depth]]) %>"></i></a>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>