<ul class="list-group maint-column">
  <li>
    <%= render partial: "maint_filter", locals: {col: "tree"} %>
  </li>
  <li class="colorful-header colorful-header-0 indent-0"><%= @subjectByCode[@subject_code]? @subjectByCode[@subject_code][:name] : @subject_code %></li>
  <%
   @treeByParents.each do |tkey, codeh| %>
    <% codeh.each do |code, h| %>
      <% if h[:outcome] %>
      <%
         dimsInfo = {}
         @dimsArray.each do |dim|
           dimsInfo[dim[:code]] = {
            found: 0,
            arr: []
           }
         end
       %>
      <li id="<%= h[:subj_code] %>_lo_<%= h[:id] %>" class="maint-item indent-3 <%= h[:selectors_by_parent] %> list-group-item level-<%= h[:depth] - 1 %> sequence-item" data-loid="<%= h[:id] %>">
        <% if true %>
          <% h[:dimtrees].each do |dt|
             dim = dt.dimension
             dimsInfo[dim.dim_code][:found] += 1
             #dimSubjKey = Subject.get_default_name_key(dim.subject_code)
             dimsInfo[dim.dim_code][:arr] << [dim.id, "#{@translations[dim.dim_name_key]}"]
          end # h[:dimtrees].each do |dt|
          %>
          <div class="related-items-table">
            <div class="row">
              <!-- Build competency column -->
              <div class="col-lg-2 col-11 col-sm-11 comp-col">
                <a href="<%= tree_path(h[:id])%>" title="<%= h[:text] %>"><%= h[:depth_name] %>:
                <strong><em><%= h[:formatted_code] %></em></strong>
                </a>
                <% if h[:weeks] > 0 %>
                  <% duration_str = h[:weeks] == 1 ? I18n.translate('trees.labels.duration_weeks_html', weeks: h[:weeks]).singularize.html_safe : I18n.translate('trees.labels.duration_weeks_html', weeks: h[:weeks]).html_safe %>
                  <div class="parent-can-hide block">
                  <em><%= duration_str %></em>
                  </div>
                <% end %>
                <%= h[:text].html_safe %>
              </div>
              <!--TO DO: draw this array from the grid_headers field in TreeType
                ['essq','bigidea','pract','expl','miscon']
              -->
              <% @competency_details.each do |area| %>
                <% if dimsInfo[area] %>
                  <div class="col-lg-2 col-11 col-sm-11 parent-can-hide">
                    <div class="col">
                      <div class="top-label">
                        <%= dimsInfo[area][:found] != 1 ? @dimTypeTitleByCode[area].pluralize : @dimTypeTitleByCode[area].singularize %>
                      </div>
                      <% dimsInfo[area][:arr].each do |dim| %>
                        <% dim_link = dimension_path(dim[0]) if @dimDisplayHash[area] %>
                        <div class="dim-item">
                          <% if dim_link %>
                            <a href="<%= dim_link %>">
                              <%= dim[1].html_safe %>
                            </a>
                          <% else %>
                            <%= dim[1].html_safe %>
                          <% end %>
                        </div>
                      <% end #ess_q_arr.each do |dim| %>
                    </div>
                  </div>
                <% else #this is the 'teacher support/expl comment' %>
                  <div class="col-lg-2 col-11 col-sm-11 parent-can-hide">
                    <div class="col">
                      <div class="top-label">
                        <%= I18n.translate('app.labels.comments') %>
                      </div>
                      <div class="dim-item">
                        <%= h[:explanation] %>
                      </div>
                    </div>
                  </div>
                <% end #if dimsInfo[area] %>
              <% end # [].each do |area| %>
            </div>
          </div> <!--related-items-table-->
        <% end #if true %>
      </li>
      <!-- TO DO: Find a different workaround for hiding indicator-level items -->
      <% elsif h[:depth] > @treeTypeRec.outcome_depth+1 %>
      <% else %>
        <li class="indent-<%= h[:depth]-1 %> <%= h[:selectors_by_parent] %> level-<%= h[:depth] - 1 %> colorful-header colorful-header-<%= h[:depth] %> sequence-item">
          <a class="" onclick="toggle_visibility('.child-of-<%= code.split(".").join("-") %>', '#trigger-<%= code.split(".").join("-") %>')">
            <i id="trigger-<%= code.split(".").join("-") %>" class="fa fa-compress pull-left option-selected link-blue accordion" title="collapse"></i>
          </a>
          <%= "#{h[:depth_name]} #{"#{h[:formatted_code]}: " if h[:depth] > 1}" %>
          <%= h[:text].html_safe %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>