<ul id="<%= dim_type %>-col" class="list-group maint-column <%= dim_type %>-col<%= show_dim ? '' : ' hidden' %>" data-subjcode="<%= @dim_filters[dim_type][:subj] %>" data-gbid="<%= dim_gb ? (dim_gb[:id] || 0) : 0 %>">
  <li>
    <%= render partial: "maint_filter", locals: {col: dim_type } %>
  </li>
  <li class="maint-header"><%= "#{dim_subj_name} - #{dim_title} (#{grades_str}: #{@dim_filters[dim_type][:gb][:min_grade]} - #{@dim_filters[dim_type][:gb][:max_grade]})" %>
    <% if @editing && can_edit %>
      <%= link_to(fa_icon("plus"), dimension_form_trees_path( dimension: { dim_type: dim_type }), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) %>
    <% end %>
  </li>
  <% if dims && dims.count > 0 %>
    <% dims.each do |dim| %>
      <li id="<%= "#{dim_subj_name}-dim-#{dim.id}"%>" class="dim-item dim-item--collapsable list-group-item ui-draggable" data-dimid="<%= dim.id %>">
        <span class='pull-left'><strong><%= "#{translate('app.labels.subject')}:"%></strong> <%="#{dim_subj_name}" %></span>
          <br/>
          <span class='pull-left'><strong><%= "#{grades_str}: " %></strong> <%= "#{dim.min_grade} - #{dim.max_grade}" %></span>

        <br/>
        <span class='pull-left left-justify'><strong><%= "#{dim_title.singularize}: " %></strong><%= @translations[dim.dim_name_key] %></span>
        <br/>

        <% if can_edit && @editing%>
          <div class="pull-right">
              <a class="connect-handle lo-handle" onclick=""><i class="fa fa-link pull-right" title="make a connection"></i></a>
              <%= link_to(fa_icon("times", class: "pull-right"), update_dimension_trees_path(dimension: { id: dim.id, active: false}), {'data-confirm' => I18n.t('app.labels.confirm_deactivate', item: @translations[dim.dim_name_key]), method: :patch}) %>
              <%= link_to(fa_icon("edit", class: "pull-right"), dimension_form_trees_path( dimension: { id: dim.id}), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) %>
          </div>
      <% end %>
      </li>
    <% end %>
  <% end #if dims %>
</ul>