<div class="modal-header">
   <h3 id="myModalLabel"><%= translate('app.labels.connect_form_title') %> </h3>
 </div>
 <div class="modal-body">

<%= form_for(@dim_tree, :url => @form_path, html: { data: { modal: true } })  do |f| %>
  <div>
    <% if @show_bigidea %>
      <input type="hidden" name="show_bigidea" value=true>
    <% end %>
    <% if @show_miscon %>
      <input type="hidden" name="show_miscon" value=true>
    <% end %>
    <input type="hidden" name="dim_tree[dim_filters]" value='<%= @dim_filters_str %>'>
  	<input type="hidden" name="dim_tree[tree_id]" value='<%= @dim_tree.tree_id %>'>
  	<input type="hidden" name="dim_tree[dimension_id]" value='<%= @dim_tree.dimension_id %>'>
    <input type="hidden" name="dim_tree[dim_type]" value='<%= @dim.dim_code %>'>
    <input type="hidden" name="dim_tree[active]" value='<%= true %>'>
    <% if @dim_tree.id %>
      <input type="hidden" name="dim_tree[id]" value='<%= @dim_tree.id %>'>
    <% end %>
  </div>

  <fieldset>
    <div>
    <div><strong><%= @hierarchies[ @tree.depth - 1] + ": " %></strong><%= @tree.format_code(@locale_code) %></div>
    <div><strong> - <%= translate('trees.bigidea.relates_to') %> - </strong></div>
    <div><strong><%= Dimension.get_dim_type_name(@dim.dim_type, @treeTypeRec.code, @versionRec.code, @locale_code) + ": " %></strong><%= @dimension_translation %></div>
    </div>
  </fieldset>
  <br>


 <div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true"><%= translate('app.labels.cancel') %></button>
   <button type="submit" class="btn btn-primary"><%= translate('app.labels.save') %></button>
 </div>
<% end %>