<div class="modal-header">
   <h3 id="myModalLabel">Edit LO: <%= @tree.buildBaseKey %></h3>
 </div>
 <div class="modal-body">

<%= form_for(@tree) do |f| %>
  <div class="hidden_fields">
    <%= f.hidden_field :active, name: 'tree[active]', value: true %>
    <%= f.hidden_field :edit_type, name: 'tree[edit_type]', value: @edit_type %>
    <%= f.hidden_field :attr_id, name: 'tree[attr_id]', value: @attr_id  if (@edit_type != 'outcome') %>
  </div>
  <!--feilds for editing the Outcome and Indicator text-->
	<% if @edit_type == 'outcome' || @edit_type == 'indicator' %>
	<fieldset>
	  <label for='name_translation' class="center-label"><%= @edit_type == "outcome"  ? "#{I18n.translate('app.labels.outcome')}:" : "#{I18n.translate('app.labels.indicator')}:" %></label>
  	<%= f.cktext_area :name_translation, name: 'tree[name_translation]', id: 'name_translation', style: {className: "pull-left"}, value: @translation, ckeditor: {toolbar: 'mini', language: @locale_code, uiColor: '#b0e0e6'}  %>
  </fieldset>
  <% elsif @edit_type == 'comment' %>
  <fieldset>
    <label for="comment" class="pull-left"><%= I18n.translate('app.labels.comments') %></label>
    <%= f.text_area :comment, name: 'tree[comment]', id: 'comment', style: {className: "pull-left"}, value: @comment %>
  </fieldset>
  <!--build field for rich text Reference/Resources-->
  <% elsif @weeks %>
    <fieldset>
      <label for="weeks" class="pull-left"><%= I18n.translate('trees.labels.duration_weeks') %>:</label>
      <%= f.number_field :weeks, name: 'tree[weeks]', id: 'weeks', style: {className: "pull-left"}, value: @weeks %>
    </fieldset>
  <% elsif @hours %>
    <fieldset>
      <label for="hours" class="pull-left"><%= I18n.translate('trees.labels.hours_per_week') %>:</label>
      <%= f.number_field :hours, name: 'tree[hours]', id: 'hours', style: {className: "pull-left"}, value: @hours %>
    </fieldset>
  <% elsif @ref %>
    <fieldset>
      <label for="resource_input" class="center-label" style="width:100%;display:block;"><%= @ref_label %></label>
      <%= f.cktext_area :resource, name: 'tree[resource]', value: @ref, id: 'resource_input', ckeditor: {toolbar: 'mini', language: @locale_code, uiColor: '#b0e0e6'} %>
    </fieldset>
  <% elsif @ref_titles %>
    <% @ref_titles.each do |title| %>
      <%= f.hidden_field :resource_key, multiple: true, value: title[:key] %>
      <%= f.text_area :resource_name, multiple: true, value: title[:name] %>
    <% end %>
  <!--build fields for editing treetree and sector relationships-->
  <% elsif @edit_type == 'treetree' || @edit_type == 'sector' || @edit_type == 'dimtree' %>
  <fieldset>
    <label for='relationship'><%= translate('trees.labels.relation') %></label>
    <div>
    <span class="stack"><%= "#{@tree.subject.get_name(@locale_code)} #{@tree.code}" %></span>
    <% if @edit_type == 'treetree' %>
	    <select id="relationship" name="tree_tree[relationship]" class="stack">
	      <option value="<%= TreeTree::APPLIES_KEY %>"
	        <%= ' selected' if @rel.relationship == TreeTree::APPLIES_KEY %>>
	      	<%= I18n.translate('trees.labels.relation_types.applies') %>
	      </option>
	      <option value="<%= TreeTree::DEPENDS_KEY %>"
	        <%= ' selected' if @rel.relationship == TreeTree::DEPENDS_KEY %>>
	      	<%= I18n.translate('trees.labels.relation_types.depends') %>
	      </option>
	      <option value="<%= TreeTree::AKIN_KEY %>"
	        <%= ' selected' if @rel.relationship == TreeTree::AKIN_KEY %>>
	      	<%= I18n.translate('trees.labels.relation_types.akin') %>
	      </option>
	    </select>
    <% elsif @edit_type == 'sector' || @edit_type == 'dimtree' %>
      <label class="stack"> - <%= I18n.t('trees.bigidea.relates_to') %> - </label>
    <% end %>
    <span class="stack">
      <%= @tree_referencee_code %>
      <% if !@tree_referencee_code %>
        <select name= 'tree[sector_id]'>
          <% @sectors.each do |s| %>
            <option value="<%= s.id %>"><%= @sector_names[s.name_key] %></option>
          <% end %>
        </select>
      <% end %>
    </span>
    </div>
  </fieldset>

	<% end #build fieldsets by @edit_type %>

 <div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <button class="btn btn-primary">Save changes</button>
 </div>

<% end %>
