<%= form_for @tree, url: maint_trees_path, :html => { :method => 'GET' } do |form| %>
  <% param_name = (col == "tree" ? col : "dim_tree" ) %>
  <!-- Workaround for inconsistently named essq/ess_q -->
  <% dim_key = col.split("_").join("") %>

  <div class='row'>
    <!-- Hidden fields -->
    <!-- Pass setting to stay in edit mode after submitting form, if currently in edit mode -->
    <% if @editing %>
      <input type='hidden' name='editme' value=true></input>
    <% end %>
    <!-- If @dim_type is defined, we are rendering one of the dimension-specific pages (e.g., the Misconceptions page) -->
    <% if @dim_type %>
      <input type='hidden' name='dim_tree[dim_type]' value="<%= @dim_type%>"></input>
    <% end %>

    <!-- If searching for a different set of essential questions, don't forget the current set of misconceptions and big ideas. -->
    <% if dim_key == @treeTypeRec.ess_q_dim_type
         if @dim_subjs['miscon'] && @dim_type != @treeTypeRec.ess_q_dim_type %>
          <input type='hidden' name='dim_tree[miscon_subj_code]' value=<%= @dim_subjs['miscon'] %>></input>
      <% end
         if @dim_subjs['bigidea'] && @dim_type != @treeTypeRec.ess_q_dim_type %>
        <input type='hidden' name='dim_tree[bigidea_subj_code]' value=<%= @dim_subjs['bigidea'] %>></input>
    <% end
       if @m_gb && @dim_type != 'bigidea'
      %>
          <input type='hidden' name='dim_tree[miscon_gb_id]' value=<%= @m_gb[:id] || 0 %>></input>
    <% end
       if @bi_gb && @dim_type != @treeTypeRec.ess_q_dim_type %>
         <input type='hidden' name='dim_tree[bigidea_gb_id]' value=<%= @bi_gb[:id] || 0 %>></input>
    <% end
    end %>

    <!-- If searching for a different set of misconceptions, don't forget the current set of big ideas and essential questions. -->
    <% if col == "miscon"
       if @dim_subjs['bigidea'] && @dim_type != 'miscon' %>
        <input type='hidden' name='dim_tree[bigidea_subj_code]' value=<%= @dim_subjs['bigidea'] %>></input>
    <% end
      if @dim_subjs[@treeTypeRec.ess_q_dim_type] && @dim_type != 'miscon' %>
        <input type='hidden' name='dim_tree[ess_q_subj_code]' value=<%= @dim_subjs[@treeTypeRec.ess_q_dim_type] %>></input>
    <% end
       if @bi_gb && @dim_type != 'miscon' %>
         <input type='hidden' name='dim_tree[bigidea_gb_id]' value=<%= @bi_gb[:id] || 0 %>></input>
    <% end
       if @eq_gb && @dim_type != 'miscon' %>
         <input type='hidden' name='dim_tree[ess_q_gb_id]' value=<%= @eq_gb[:id] || 0 %>></input>
    <% end
    end %>
    <!-- If searching for a different set of bigideas, don't forget the current set of misconceptions and essential questions. -->
    <% if col == "bigidea"
         if @dim_subjs['miscon'] && @dim_type != 'bigidea' %>
    		  <input type='hidden' name='dim_tree[miscon_subj_code]' value=<%= @dim_subjs['miscon'] %>></input>
    	<% end
         if @dim_subjs[@treeTypeRec.ess_q_dim_type] && @dim_type != 'bigidea' %>
        <input type='hidden' name='dim_tree[ess_q_subj_code]' value=<%= @dim_subjs[@treeTypeRec.ess_q_dim_type] %>></input>
    <% end
    	 if @m_gb && @dim_type != 'bigidea'
    	%>
    		  <input type='hidden' name='dim_tree[miscon_gb_id]' value=<%= @m_gb[:id] || 0 %>></input>
    <% end
       if @eq_gb && @dim_type != 'bigidea' %>
         <input type='hidden' name='dim_tree[ess_q_gb_id]' value=<%= @eq_gb[:id] || 0 %>></input>
    <% end
    end %>

    <!-- Labels -->
    <div class='col col-lg-1 col-md-<%= @editing ? 3 : 2 %>'><label for='<%= param_name %>_subject'><%= translate('app.labels.subject') %></label></div>
    <div class='col col-lg-<%= @editing ? 5 : 1 %> col-md-<%= @editing ? 5 : 2 %>'><label for='<%= param_name %>_grade_band'><%= translate('app.labels.grade_band') %></label></div>
  </div>

  <!-- Form input options -->
  <div class='row'>
    <div class='col col-lg-1 col-md-2 subject-with-gb'><select id='<%= param_name %>_subject_id' name='<%= param_name %>[<%= param_name == "tree" ? "subject_id" : "#{col}_subj_code"%>]'>
        <% if col == "tree" %>
          <% @subjects.each do |k, s| %>
            <% sel_code = @subject_code %>
            <%- selectedStr = (s.code == sel_code) ? ' selected = "selected"' : '' %>
            <%= Rails.logger.debug(" +++ index match output: #{selectedStr}") %>
            <option value=<%= s.id %><%= selectedStr %>><%= @translations["subject.base.#{s.code}.abbr"] %></option>
          <% end %>
        <% else # if col != "tree" %>
          <% BaseRec::BASE_SUBJECTS.each do |s| %>
            <% sel_code = @dim_subjs[dim_key] if @dim_subjs[dim_key]
               opt_name = @translations["subject.base.#{s}.abbr"]
            %>
            <%- selectedStr = (s == sel_code) ? ' selected = "selected"' : '' %>
            <option value=<%= s %><%= selectedStr %>><%= opt_name %></option>
          <% end %>
        <% end # if col == "tree" %>
    </select></div>
    <div id='<%= param_name %>-gb-container' class='col col-lg-<%= @editing ? 5 : 1 %> col-md-<%= @editing ? 5 : 2 %>'>
      <span id='<%= param_name %>-all-gbs-select'>
      <!-- %= collection_select(:tree, :grade_band_id, @gbs, :id, :code, include_blank: I18n.t('app.labels.all') ) % -->
      <select id='<%= param_name %>_grade_band_id' name='<%= param_name %>[<%= param_name == "tree" ? "grade_band_id" : "#{col}_gb_id" %>]'>
        <option value='0'><%= I18n.t('app.labels.all') %></option>
      <% @gbs.each do |gb| %>
        <% gbc = @grade_band_code
           gbc = @bi_gb[:code] if (@bi_gb && col == "bigidea")
           gbc = @m_gb[:code] if (@m_gb && col == "miscon")
           gbc = @eq_gb[:code] if (@eq_gb && dim_key == @treeTypeRec.ess_q_dim_type)
        %>
        <%- selectedStr = (gb.code == gbc) ? ' selected = "selected"' : '' %>
        <%= Rails.logger.debug("gb index match: #{gb.code} == #{@grade_band_code} output: #{selectedStr}") %>
        <option value=<%= gb.id%><%= selectedStr %>><%=gb.code%></option>
      <% end %>
    </select>
      </span>
    </div>

    <div class='col col-lg-1 col-md-3 margin-bottom'><%= form.submit translate('app.labels.gen_list'), :class => 'btn-primary' %></div>
  </div>
<% end #form %>
<% if col == "tree" %>
  <div>
    <button class="btn btn-link btn-sm pull-left right-margin" onclick="show_hide_selection('.collapsable', true)"><%= I18n.translate("app.labels.expand_all") %></button>
    <button class="btn btn-link btn-sm pull-left" onclick="show_hide_selection('.collapsable', false)"><%= I18n.translate("app.labels.collapse_all") %></button>
    <% if !@editing %>
      <button id="show-details-btn" class="btn btn-info btn-sm pull-left" onclick="show_maint_details()">
        <span id="show-text" class="hidden">Show Details</span>
        <span id="hide-text">Hide Details</span>
      </button>
    <% end %>
  </div>
<% end %>