<div class='filter-container'>
  <div class='filter-curriculum'>
    <%= form_for @tree, url: index_listing_trees_path do |form| %>
      <div class='row'>
        <div class='col col-md-12'><%= translate('trees.labels.filter_by_subject_grade') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-4 border-left border-top'><label for='tree_subject'><%= translate('app.labels.subject') %></label></div>
        <div class='col col-md-4 border-top'><label for='tree_grade_band'><%= translate('app.labels.grade_band') %></label></div>
        <div class='col col-md-4 border-top border-right'><%= translate('app.labels.actions') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-4 border-left border-bottom subject-with-gb'><select id='tree_subject_id' name='tree[subject_id]'>
          <% Subject.all.each do |s| %>
            <%- selectedStr = (s.code == @subject_code) ? ' selected = "selected"' : '' %>
            <%= Rails.logger.debug("index match output: #{selectedStr}") %>
            <option value=<%= s.id%><%= selectedStr %>><%=s.abbr( @locale_code )%></option>
          <% end %>
        </select></div>
        <div id='gb-container' class='col col-md-4 border-left border-bottom'>
          <span id='all-gbs-select'>
          <!-- %= collection_select(:tree, :grade_band_id, @gbs, :id, :code, include_blank: I18n.t('app.labels.all') ) % -->
          <select id='tree_grade_band_id' name='tree[grade_band_id]'>
            <option value='0'><%= I18n.t('app.labels.all') %></option>
          <% @gbs.all.each do |gb| %>
            <%- selectedStr = (gb.code == @grade_band_code) ? ' selected = "selected"' : '' %>
            <%= Rails.logger.debug("index match: #{gb.code} == #{@grade_band_code} output: #{selectedStr}") %>
            <option value=<%= gb.id%><%= selectedStr %>><%=gb.code%></option>
          <% end %>
        </select>
          </span>
        </div>

        <div class='col col-md-4 border-bottom border-right'><%= form.submit translate('app.labels.gen_list'), :class => 'btn-primary' %></div>
      </div>
    <% end %>
  </div>
</div>
