<div class='filter-container'>
  <div class='filter-curriculum'>
    <%= form_for @tree, url: index_listing_trees_path do |form| %>
      <div class='row'>
        <div class='col col-md-12'><%= translate('trees.labels.otc_listing_filter') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-4 border-left border-top'><label for='tree_subject'><%= translate('app.labels.subject') %></label></div>
        <div class='col col-md-4 border-top'><label for='tree_grade_band'><%= translate('app.labels.grade_band') %></label></div>
        <div class='col col-md-4 border-top border-right'><%= translate('app.labels.actions') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-4 border-left border-bottom'><%= collection_select(:tree, :subject_id, @subjects, :id, :code, include_blank: I18n.t('app.labels.all')) %></div>
        <div class='col col-md-4 border-bottom'><%= collection_select(:tree, :grade_band_id, @gbs, :id, :code, include_blank: I18n.t('app.labels.all') ) %></div>
        <div class='col col-md-4 border-bottom border-right'><%= form.submit translate('app.labels.gen_list'), :class => 'btn-primary' %></div>
      </div>
    <% end %>
  </div>
  <div class='filter-sectors'>
    <div class='row'>&nbsp;</div>
    <div class='row'>
      <div class='col'>
        <a class="btn btn-primary" href='<%= sectors_path %>' title='<%= translate('trees.labels.sectors_listing_hover') %>'><%= translate('trees.labels.sectors_listing') %></a>
      </div>
    </div>
    <div class='row'>&nbsp;</div>
  </div>
</div>
