<% content_for(:title_code, 'trees.index.name') %>
<% content_for(:page_class, 'trees') %>

<%= render partial: 'select_form' %>

<% if @otcJson %>
<br>
<div class='text-center'>
  <%
  @hierarchiesInTrees.each_with_index do |h, ix|
    if ix > 0 && ix <= @treeTypeRec.outcome_depth
  %>
      <button id='showAreas' class='btn-info' onclick="$('#tree').treeview({data: otcTree, levels: <%= ix+1 %>, enableLinks: true/* , showCheckbox: true*/})"><%= I18n.t('app.labels.show') %> <%= @hierarchiesInTrees[ix].pluralize if @hierarchiesInTrees.length > ix %></button>
  <%
    end
  end
  %>
</div>
<div id="tree"></div>

<script>
var otcTree = <%= raw @otcJson %>;
$('#tree').treeview({
  data: otcTree,
  levels: <%= @treeTypeRec[:outcome_depth] + 1 %>,
  enableLinks: true // ,
  // showCheckbox: true
});
</script>
<% end %>

