<% content_for(:title_code, 'trees.index.name') %>
<% content_for(:page_class, 'trees') %>

<%= render partial: 'select_form' %>

<% if @otcJson %>
<br>
<div class='text-center'>
  <button id='showAreas' class='btn-info' onclick="$('#tree').treeview({data: otcTree, levels: 2, enableLinks: true/* , showCheckbox: true*/})"><%= I18n.t('app.labels.show') %> <%= @hierarchies[1].pluralize if @hierarchies.length > 1 %></button>
  <button id='showComponents' class='btn-info' onclick="$('#tree').treeview({data: otcTree, levels: 3, enableLinks: true/* , showCheckbox: true*/})"><%= I18n.t('app.labels.show') %> <%= @hierarchies[2].pluralize if @hierarchies.length > 2 %></button>
  <button id='showOutcomes' class='btn-info' onclick="$('#tree').treeview({data: otcTree, levels: 4, enableLinks: true/* , showCheckbox: true*/})"><%= I18n.t('app.labels.show') %> <%= @hierarchies[3].pluralize if @hierarchies.length > 3 %></button>
  <!-- button id='showIndicators' class='btn-info' onclick="$('#tree').treeview({data: otcTree, levels: 5, enableLinks: true/* , showCheckbox: true*/})"><%= translate('trees.labels.show_indicators') %></button -->
</div>
<div id="tree"></div>

<script>
var otcTree = <%= raw @otcJson %>;
$('#tree').treeview({
  data: otcTree,
  levels: 4,
  enableLinks: true // ,
  // showCheckbox: true
});
</script>
<% end %>

