<% content_for(:title_code, 'trees.maint.name') %>
<% content_for(:page_class, 'trees') %>
<%
   grades_str = translate('app.labels.grade_band').pluralize
   num_cols = 1 + (@show_bigidea ? 1 : 0) + (@show_miscon ? 1 : 0) + (@show_ess_q ? 1 :0)
%>
<br>
<div class='text-center dimension-page'>
  <h2><%= @page_title %></h2>
</div>
<% if !@dim_type #big_idea_dims && big_idea_dims.count > 0 %>
  <%=
      render partial: "show_maint_col_buttons", locals: {
      dim_type: @treeTypeRec.ess_q_dim_type,
      show_dim: @show_ess_q,
      dim_title: @ess_q_title
      }
  %>
<% end %>
<% if !@dim_type #big_idea_dims && big_idea_dims.count > 0 %>
  <%=
      render partial: "show_maint_col_buttons", locals: {
      dim_type: @treeTypeRec.big_ideas_dim_type,
      show_dim: @show_bigidea,
      dim_title: @ideas_title
      }
  %>
<% end %>
<% if !@dim_type #miscon_dims && miscon_dims.count > 0 %>
  <%=
      render partial: "show_maint_col_buttons", locals: {
      dim_type: @treeTypeRec.miscon_dim_type,
      show_dim: @show_miscon,
      dim_title: @miscon_title
      }
  %>
<% end %>
<% subj_counter = 0 %>
<div id="trees" class="dimension-page maint-page">
  <div class="sequence-grid cols-<%= num_cols %>">
    <ul class="list-group maint-column">
      <li>
        <%= render partial: "maint_filter", locals: {col: "tree"} %>
      </li>
      <%
       @treeByParents.each do |tkey, codeh| %>
        <li class="maint-header indent-0"><%= @translations[tkey] %></li>
        <% codeh.each do |code, h| %>
          <% if h[:outcome] %>
          <%
             ess_q_str = ''
             ideas_str = '' #@ideas_title
             misc_str = '' #@misc_title
             ess_q_found = 0
             ideas_found = 0
             misc_found = 0
           %>
          <li id="<%= h[:subj_code] %>_lo_<%= h[:id] %>" class="maint-item indent-3 <%= h[:selectors_by_parent] %> list-group-item" data-loid="<%= h[:id] %>">
            <a href="<%= tree_path(h[:id])%>" title="<%= h[:text] %>"><%= h[:depth_name] %>: <%= h[:last_code] %></a>
            <%= h[:text] %>
            <% if h[:dimtrees].length > 0 %>
            <% h[:dimtrees].each do |dt|
                 dim = dt.dimension
                 if dim.dim_type == @treeTypeRec.ess_q_dim_type
                    ess_q_found += 1
                    essqSubjKey = @subj_key_by_dt_id[dt.id] || @ess_q_subj_base_key
                    ess_q_str += "<br/>______________<br/>"
                    ess_q_str += "[#{@translations[essqSubjKey]}] #{@translations[dim.dim_name_key]}"
                 elsif dim.dim_type == "bigidea"
                    ideas_found += 1
                    ideaSubjKey = @subj_key_by_dt_id[dt.id] || @idea_subj_base_key
                    ideas_str += "<br/>______________<br/>"
                    ideas_str += "[#{@translations[ideaSubjKey]}] #{@translations[dim.dim_name_key]}"
                 else
                    misc_found += 1
                    miscSubjKey = @subj_key_by_dt_id[dt.id] || @misc_subj_base_key
                    misc_str += "<br/>______________<br/>"
                    misc_str += "[#{@translations[miscSubjKey]}] #{@translations[dim.dim_name_key]}"
                 end
               end
               ess_q_str = "<strong>#{(ess_q_found > 1 ? @ess_q_title : @ess_q_title.singularize)}:</strong>#{ess_q_str}"
               ideas_str = "<strong>#{(ideas_found > 1 ? @ideas_title : @ideas_title.singularize)}:</strong>#{ideas_str}"
               misc_str = "<strong>#{(misc_found > 1 ? @misc_title : @miscon_title.singularize)}:</strong>#{misc_str}"
            %>
            <% if ess_q_found > 0 %>
                <i class="fa fa-question" data-toggle="tooltip" title="<%= ess_q_str %>"></i>
            <% end
               if ideas_found > 0 %>
                <i class="fa fa-lightbulb-o" data-toggle="tooltip" title="<%= ideas_str %>"></i>
            <% end
              if misc_found > 0
            %>
                <i class="fa fa-exclamation-triangle" data-toggle="tooltip" title="<%= misc_str %>"></i>
            <% end %>
            <% end %>
            <% if @editing %>
            <div class="pull-right">
              <!-- TO DO: Implement working resequence button and deactivate button -->
              <a class="" href="/<%= @locale_code %>/trees/<%= h[:id] %>?editme=<%= h[:id] %>">
                <i class="fa fa-edit pull-right" title="edit this LO"></i>
              </a>
            </div>
            <% end %>
          </li>
          <!-- TO DO: Find a different workaround for hiding indicator-level items -->
          <% elsif h[:depth] > @treeTypeRec.outcome_depth+1 %>
          <% else %>
            <li class="maint-sub-header indent-<%= h[:depth]-1 %> <%= h[:selectors_by_parent] %>">
              <a class="" onclick="toggle_visibility('.child-of-<%= code.split(".").join("-") %>', '#trigger-<%= code.split(".").join("-") %>')">
                <i id="trigger-<%= code.split(".").join("-") %>" class="fa fa-compress pull-left option-selected link-blue accordion" title="collapse"></i>
              </a>
              <%= h[:depth_name] %>: <%= h[:text] %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </ul>

      <%= if @treeTypeRec.ess_q_dim_type != ""
            render partial: "dim_column", locals: {
            dim_type: @treeTypeRec.ess_q_dim_type,
            show_dim: @show_ess_q,
            dim_gb: @eq_gb,
            dim_subj_base_key: @ess_q_subj_base_key,
            dim_title: @ess_q_title,
            dims: @dimensions_ess_q,
            grades_str: grades_str
            }
          end
      %>

      <%= if @treeTypeRec.big_ideas_dim_type != ""
            render partial: "dim_column", locals: {
            dim_type: @treeTypeRec.big_ideas_dim_type,
            show_dim: @show_bigidea,
            dim_gb: @bi_gb,
            dim_subj_base_key: @idea_subj_base_key,
            dim_title: @ideas_title,
            dims: @dimensions_bigideas,
            grades_str: grades_str
            }
          end
      %>

      <%= if @treeTypeRec.miscon_dim_type != ""
            render partial: "dim_column", locals: {
            dim_type: @treeTypeRec.miscon_dim_type,
            show_dim: @show_miscon,
            dim_gb: @m_gb,
            dim_subj_base_key: @misc_subj_base_key,
            dim_title: @miscon_title,
            dims: @dimensions_miscons,
            grades_str: grades_str
            }
          end
      %>



    </div>
  </div>
</div>
