<% content_for(:title_code, 'trees.maint.name') %>
<% content_for(:page_class, 'trees') %>
<% current_path = @editing ? maint_trees_path(editme: true) : maint_trees_path %>

<br>
<div class='text-center sequence-page'>
  <h2><%= translate('trees.maint.title') %></h2>
</div>
<% subj_counter = 0 %>
<div id="trees" class="sequence-page">
  <div class="sequence-grid cols-<%= 2 %>">
    <ul class="list-group maint-column">
      <li>
        <%= form_for @tree, url: current_path, :html => { :method => 'GET' } do |form| %>
      <div class='row'>
        <div class='col col-md-4'><label for='tree_subject'><%= translate('app.labels.subject') %></label></div>
        <div class='col col-md-4'><label for='tree_grade_band'><%= translate('app.labels.grade_band') %></label></div>
        <div class='col col-md-4'><%= translate('app.labels.actions') %></div>
      </div>
      <div class='row'>
        <div class='col col-md-4 subject-with-gb'><select id='tree_subject_id' name='tree[subject_id]'>
          <% @subjects.each do |k, s| %>
            <%- selectedStr = (s.code == @subject_code) ? ' selected = "selected"' : '' %>
            <%= Rails.logger.debug(" +++ index match output: #{selectedStr}") %>
            <option value=<%= s.id%><%= selectedStr %>><%=s.abbr( @locale_code )%></option>
          <% end %>
        </select></div>
        <div id='gb-container' class='col col-md-4'>
          <span id='all-gbs-select'>
          <!-- %= collection_select(:tree, :grade_band_id, @gbs, :id, :code, include_blank: I18n.t('app.labels.all') ) % -->
          <select id='tree_grade_band_id' name='tree[grade_band_id]'>
            <option value='0'><%= I18n.t('app.labels.all') %></option>
          <% gbs = @gbOptions || @gbs %>
          <% gbs.each do |gb| %>
            <%- selectedStr = (gb.code == @grade_band_code) ? ' selected = "selected"' : '' %>
            <%= Rails.logger.debug("gb index match: #{gb.code} == #{@grade_band_code} output: #{selectedStr}") %>
            <option value=<%= gb.id%><%= selectedStr %>><%=gb.code%></option>
          <% end %>
        </select>
          </span>
        </div>

        <div class='col col-md-4 margin-bottom'><%= form.submit translate('app.labels.gen_list'), :class => 'btn-primary' %></div>
      </div>
    <% end %>
      </li>
      <% @treeByParents.each do |tkey, codeh| %>
        <li class="maint-header indent-0"><%= @translations[tkey] %></li>
        <% codeh.each do |code, h| %>
          <% if h[:depth] == @treeTypeRec.outcome_depth+1 %>
          <li class="maint-item indent-3 <%= h[:selectors_by_parent] %>">
            <a href="<%= tree_path(h[:id])%>" title="<%= h[:text] %>"><%= h[:depth_name] %>: <%= h[:last_code] %></a>
            <%= h[:text] %>
            <% if @editing %>
            <div class="pull-right">
              <a class="" data-confirm="Are you sure?"  href="/<%= @locale_code %>/trees/<%= h[:id] %>?%5Bactive%5D=false">
                <i class="fa fa-times pull-right" title="deactivate this LO"></i>
              </a>
              <a class="sort-handle lo-handle ui-sortable-handle" onclick="" href="#">
                <i class="fa fa-thumb-tack pull-right" title="resequence this LO"></i>
              </a>
              <a class="" href="/<%= @locale_code %>/trees/<%= h[:id] %>?editme=<%= h[:id] %>">
                <i class="fa fa-edit pull-right" title="edit this LO"></i>
              </a>
            </div>
            <% end %>
          </li>
          <% elsif h[:depth] > @treeTypeRec.outcome_depth+1 %>
          <% else %>
            <li class="maint-sub-header indent-<%= h[:depth]-1 %> <%= h[:selectors_by_parent] %>">
              <a class="" onclick="toggle_visibility('.child-of-<%= code.split(".").join("-") %>', '#trigger-<%= code.split(".").join("-") %>')">
                <i id="trigger-<%= code.split(".").join("-") %>" class="fa fa-compress pull-left option-selected link-blue accordion" title="collapse"></i>
              </a>
              <%= h[:depth_name] %>: <%= h[:text] %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
