<% content_for(:title_code, 'trees.maint.name') %>
<% content_for(:page_class, 'trees') %>
<%
   grades_str = translate('app.labels.grade_band').pluralize
   num_cols = (@dim_type ? 2 : 1) + (@editing ? @visible_dim_codes_arr.length : 0)
%>
<% if @editing || @dim_type %>
  <div id="valid_dims" class="hidden">
    <%= @dimsArray.map {|d| d[:code] }.join(",") %>
  </div>
<% end %>
<br>
<div class='text-center dimension-page'>
  <h2><%= @page_title %></h2>
</div>
<% if @editing
  @dimsArray.each do |dimObj|
    dim = dimObj[:code] %>
    <%=
      render partial: "show_maint_col_buttons", locals: {
      dim_type: dim,
      show_dim: @visible_dim_codes_arr.include?(dim),
      dim_title: dimObj[:name]
      }
  %>
<% end #@dimsArray.each do |dimObj|
   end #if @editing
%>

<% subj_counter = 0 %>
<div id="trees" class="dimension-page maint-page">
  <div class="sequence-grid cols-<%= num_cols %>">

    <% competencies_partial = @use_alt_partial ? "alt_competency_grids_column" : "competency_grids_column" %>
    <%= render partial: (@editing ? "competencies_column" : competencies_partial) %>
    <% if @editing || @dim_type %>

      <% @dimsArray.each do |dim| %>
        <%=
            render partial: "dim_column", locals: {
            dim_type: dim[:code],
            show_dim: @visible_dim_codes_arr.include?(dim[:code]),
            dim_gb: @dim_filters[dim[:code]][:gb],
            dim_subj_name: @translations[
              Subject.get_default_name_key(@dim_filters[dim[:code]][:subj])
            ],
            dim_title: @dimTypeTitleByCode[dim[:code]],
            dims: @dimensions[dim[:code]],
            grades_str: grades_str
            }
        %>
      <% end #for @dimsArray.each do |dim| %>


    <% end # if @editing || @dim_type %>


    </div>
  </div>
</div>
