<% content_for(:title_code, 'trees.index.name') %>
<% content_for(:page_class, 'trees') %>

<br>
<div class='text-center sequence-page'>
  <h2 id="sequencing-header"><%= translate('trees.sequencing.title') %></h2>
  <div id="controls">
    <div>
      <% if @indicator_name %>
      <button id="show-indicators" class="btn-info" onclick="showIndicators(true);"><%= I18n.t('app.labels.show_indicators', name: @indicator_name) %></button>
      <button id="hide-indicators" class="btn-info" onclick="showIndicators(false);" aria-hidden="true" hidden><%= I18n.t('app.labels.hide_indicators', name: @indicator_name) %></button>
      <% end %>
       <button id="filter-gradebands-btn" class="btn-info" onclick="toggle_visibility('#all-gradebands-list', '#show-gb-controls-all');">
       <span>Filter by Grade </span>
       <i id="show-gb-controls-all" class="rotate fa fa-angle-left down"></i>
       </button>
    </div>
    <div id='all-gradebands-list' class='filter-grid cols-4 hidden'>
      <% filter_rows = (@gradebands.length / 4.0).ceil %>
      <% @gradebands.each_with_index do |gb_code, i| %>
        <% gb_arr = (gb_code == "All" ? @gradebands : [gb_code]) %>
        <% if i%filter_rows == 0 %>
          <ul>
        <% end %>
          <li>
            <input id="all-gb-check-<%= gb_code %>" type="checkbox" onchange='gradeband_visibility(<%= @s_o_hash.keys %>, <%= gb_arr %>, true);' checked></input>
            <label for="all-gb-check-<%= gb_code %>">
              <%= I18n.t('app.labels.grade_band_num', num: gb_code) if gb_code != "All" %>
              <%= I18n.t('app.labels.all') if gb_code == "All" %>
            </label>
          </li>

        <% if i%filter_rows == filter_rows - 1 %>
          </ul>
        <% end %>
      <% end #iterate through @gradebands %>
    </div>
    <% subj_counter = 0 %>
    <% subj_default_count = 3 %>
    <% @s_o_hash.keys.each do |i| %>
      <% subj_counter += 1 %>
      <div class='subj-checkbox'>
        <input id="check-<%= i %>" type="checkbox" onchange='subject_visibility("<%= i %>", <%= @max_subjects %>, "<%= I18n.t('app.errors.max_subj_display_count', num: @max_subjects) %>");' <%= subj_counter <= subj_default_count ? "checked" : "" %>></input>
        <label for="check-<%= i %>">
          <%= @subjectByCode[i][:abbr] %>
        </label>
        <% if @subj_gradebands[i].length > 0 %>
          <i id="show-gb-controls-<%= i %>" class="fa fa-expand down link-blue accordion" onclick="toggle_visibility('#<%= i %>-gradebands-list', '#show-gb-controls-<%= i %>');"></i>
          <ul id="<%= i %>-gradebands-list" class="gradebands-list hidden">
            <%
            @subj_gradebands[i].each do |gb_code|
            %>
              <li>
              <input id="<%= i %>-gb-check-<%= gb_code %>" type="checkbox" onchange='gradeband_visibility(["<%= i %>"], ["<%= gb_code %>"]);' checked></input>
              <label for="<%= i %>-gb-check-<%= gb_code %>">
                <%= I18n.t('app.labels.grade_band_num', num: gb_code) %>
              </label>
              </li>
            <% end #@subj_gradebands[i].each do |gb_code| %>
          </ul>
        <% end #if @subj_gradebands[i].length > 0 %>
      </div>
    <% end %>
  </div>
</div>
<% subj_counter = 0 %>
<div id="trees" class="sequence-page">
  <div class="sequence-grid cols-<%= subj_default_count %>">
	<% @s_o_hash.each do |i, j| %>
    <% subj_counter += 1 %>
    <div id="<%=i%>-column" class="sequence-item subject-column<%= subj_counter > subj_default_count ? " hidden" : "" %>">
      <ul class="list-group">
        <li class="sequence-header"><%= @subjects[i].get_name(@locale_code) %></li>
        <% j.each do |k| %>
          <li id="lo_<%= k[:id] %>" class="sequence-item sequence-item--collapsable list-group-item lo_gb_code_<%= k[:gb_code] %>" data-lo-id="<%= k[:id] %>">
            <a class="truncate-if-collapsed" href="<%= tree_path(k[:id])%>" title="<%= k[:text] %>"><%= k[:text] %></a>
            <% if @indicator_hash[k[:code]].length > 0 %>
              <div class="indicators-container hidden hide-if-collapsed"><strong>
                <%= translate('app.labels.indicators') %>:
              </strong>
              <% @indicator_hash[k[:code]].each do |indicator| %>
              <div>
                <strong><%= indicator[:label] %></strong>
                <%= indicator[:text] %>
              </div>
              <% end %>
              </div>
            <% end %>
            <% if k[:connections].length > 0 %>
              <div class="connections-div hide-if-collapsed" data-connections="<%= k[:connections].pluck(:tree_referencee_id) %>">
              <div><strong class='hide-unless-condition'><%= I18n.t('trees.labels.outcome_connections', outcome: (@hierarchies[3].pluralize if @hierarchies.length > 3)) %></strong>
              </div>
                <% k[:connections].each do |c| %>
                  <% if c.active %>
                    <div class="hide-unless-condition block">
                      <% if current_user.present? && can_edit_type?('connect') %>
                      <a class="icon-link lo-handle negative-margin-left" title="<%= translate('app.labels.deactivate') %>" onclick="patch_tree_tree_activation(<%= c.id %>, 'false')">
                        <i class="fa fa-close"></i>
                      </a>
                      <a class="icon-link lo-handle" title="<%= translate('app.labels.edit') %>" onclick="edit_tree_tree(<%= c.id %>, 'false')">
                        <i class="fa fa-pencil"></i>
                      </a>
                      <% end %>
                      <div class="relationship-color-key spotlight-<%= c.relationship %>"></div>
                      <strong><%= translate("trees.labels.relation_types.#{c.relationship}") %></strong>
                      <% ref = c.tree_referencee.format_code(@locale_code) %>
                      <a href="<%= tree_path(c.tree_referencee_id)%>"
                      title= "<%= @translations[c.explanation_key] %>"><%= ref %></a>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="pull-right">
               <a class="icon-link hide-if-collapsed lo-handle" onclick="related_LO_display(<%= k[:connections].map { | lo | [ lo[:relationship], lo[:tree_referencee_id]] } %>, <%= k[:id] %> );"><i class="fa fa-plug connections-icon pull-right" title="highlight connected LOs"></i></a>
            <% else %>
            <div class="pull-right">
            <% end %>
              <% if current_user.present? && can_edit_type?('connect') %>
                <a class="connect-handle lo-handle" onclick=""><i class="fa fa-link pull-right" title="make a connection between this LO and another"></i></a>
                <!-- a class="sort-handle lo-handle" onclick=""><i class="fa fa-thumb-tack pull-right" title="resequence this LO within its subject"></i></a -->
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>
<div class="hidden">

</div>



