<% content_for(:title_code, 'trees.show.name') %>
<% content_for(:page_class, 'trees') %>

<%
  # to do - refactor this somehow?
  outcome = @tree
  component = outcome.present? ? outcome.getParentRec : nil
  area = component.present? ? component.getParentRec : nil
%>
<div class='container'>
  <!--  loop through all tree items to display (to display multimle LOs when asked to display detail for higher Level tree item) -->
  <% @tree_items_to_display.each do |tree| %>
    <%
      detail_lookup = {
        "explanation": {tree: tree, indicator: true}, #indicator
        "explain": {tree: tree, comment: true}, #explanatory comment
        "sector": {title: @sectorName, expl: I18n.t('trees.labels.how_sectors_related'), details: tree.sector_trees.active, sector: true },
        "connect": {title: I18n.t('trees.labels.outcome_connections', outcome: (@hierarchies[tree.depth - 1].pluralize if @hierarchies.length > tree.depth - 1)), outcomes: true }
      }
      @dimsArray.each do |dim|
        detail_lookup[:"#{dim[:code]}"] = {
          title: dim[:name],
          details: tree.dim_trees.where(:active => true),
          dim_code: dim[:code],
          dim: true
        }
      end
    %>
    <div class='detail-page'>
      <% parents_by_depth = {}
        tree.getAllParents.map { |t| parents_by_depth[t.depth - 1] = t if t }
        parents_by_depth[@treeTypeRec[:outcome_depth]] = tree
      %>

      <!-- Display the translated descriptions of all parents for this item (Grade, Unit, Chapter, Outcome)  -->
      <% @detail_headers.each do |h| %>
        <% rec = parents_by_depth[h[:depth]] %>
        <% if rec %>
          <div class='row subject-<%= h[:name] %>-row'>
            <div class='col col-lg-6 text-left'>
              <strong>
              <%= "#{@subjectByCode[tree.subject.code][:name] if h[:depth] == 0 }#{" #{@hierarchies[h[:depth]]} #{rec.codeArray.last}:" if h[:depth] > 0}" %>
              <% if h[:depth] > 0 %>
                </strong>
              <% end %>
              <%= @translations[rec.buildNameKey] %>
              <% if h[:depth] == 0 %>
                </strong>
              <% end %>
              <% if h[:depth] == @treeTypeRec[:outcome_depth] %>
                <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: 'outcome'}), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit_type?(h[:name]) %>
              <% end %>
            </div>
          </div>
        <% end #if rec %>
      <% end #@detail_headers.each_with_index do |h, i| %>

      <div class='col col-lg-12 text-right'>
          <% if @editMe %>
            <span class='font-weight-bold'>Editing (<%= link_to("#{I18n.t('app.labels.leave_edit_mode')}", tree_path(@tree.id) ) %>)</span>
          <% else %>
            <%= link_to("Edit #{@hierarchies[@treeTypeRec[:outcome_depth]]}", tree_path(@tree.id, editme: @tree.id) ) if current_user.present? && (current_is_admin? || current_is_teacher?) %>
            <!-- # %= link_to("Edit LO", edit_tree_path(@tree.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) % -->
          <% end %>
        </div>
      <!-- Dynamically Ordered Tables -->
      <% @detail_areas.each do |area|
          detail = detail_lookup[:"#{area[:name]}"]
          if area[:type] == "left-col"
          %>
            <div class='related-items-table grid-2'>
          <%
          end #if detail && detail[:dim_code] == 'essq'
          if detail && (detail[:dim] || detail[:sector])
          %>
          <%=
            render partial: "trees/show/detail_area", locals: {
              detail_title: detail[:title],
              details: detail[:details],
              dim: detail[:dim],
              dim_code: detail[:dim_code],
              outcomes: detail[:outcome],
              sector: detail[:sector],
              can_edit: can_edit_type?(area[:name]),
             }
          %>
          <%
          elsif detail && detail[:outcomes]
            %>
            <%=
              render partial: "trees/show/connect_detail", locals: {
                detail_title: detail[:title],
                can_edit: can_edit_type?(area[:name]),
              }
            %>
          <%
          elsif detail && detail[:tree]
          %>
          <%=
            render partial: "trees/show/tree_detail_area", locals: {
                tree: detail[:tree],
                indicator: detail[:indicator],
                comment: detail[:comment],
                can_edit: can_edit_type?(area[:name]),
              }
          %>
          <%
          elsif area[:codes]
          %>
          <%=
            render partial: "trees/show/resources", locals: {
                resource_codes: area[:codes],
            }
          %>
          <%
          end #detail && (detail[:dim] || detail[:sector]
          %>
          <% if area[:type] == "right-col" %>
            </div>
          <% end #if detail && detail[:dim_code] == 'bigidea' %>
      <% end #@detail_areas.each do |area| %>

      <div class='row outcome-row'>
        <div class='col col-lg-6 text-right'>
          <% if @editMe && can_edit_type?('resource') %>
            <span class='font-weight-bold'>Editing</span>
          <% else %>
            <!-- %= # link_to("Edit LO", tree_path(@tree.id, editme: @tree.id) ) % -->
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
