<% content_for(:title_code, 'trees.show.name') %>
<% content_for(:page_class, 'trees') %>

<%
  # to do - refactor this somehow?
  outcome = @tree
  component = outcome.present? ? outcome.getParentRec : nil
  area = component.present? ? component.getParentRec : nil
%>
<div class='container'>
  <!--  loop through all indicators for this outcome -->
  <% @indicators.each do |tree| %>
    <div class='detail-page'>
      <div class='row subject-grade-row'><div class='col col-lg-12 text-left'><%= I18n.translate('app.labels.grade_band') %>: <%= tree.grade_band.code %></div></div>
      <div class='row area-row'><div class='col col-lg-12 text-left'><%= "#{I18n.translate('app.labels.area')} #{tree.codeArrayAt(1)}: #{@translations[area.buildNameKey]}" %></div></div>
      <div class='row component-row'><div class='col col-lg-12 text-left'><%= "#{I18n.translate('app.labels.component')} #{tree.codeArrayAt(2)}: #{@translations[component.buildNameKey]}" %></div></div>
      <div class='row outcome-row'>
        <div class='col col-lg-6 text-left'><%= "#{I18n.translate('app.labels.outcome')} #{tree.codeArrayAt(3)}: #{@translations[outcome.buildNameKey]}" %></div>
        <div class='col col-lg-6 text-right'>
          <% if @editMe %>
            <span class='font-weight-bold'>Editing</span>
          <% else %>
            <%= link_to("Edit LO", tree_path(@tree.id, editme: @tree.id) ) %>
          <% end %>
        </div>
      </div>

      <div class='related-indicators'>
        <div class='row center-label-bold top-label'>
          <div class='col col-lg-12'>
            <%= I18n.t('app.labels.indicators') %>
          </div>
        </div>
        <% tree.getAllChildren.each do |c| %>
        <div class='row'>
          <div class='col col-lg-2 ind-col'>
            <%= c.code %>
          </div>
          <div class='col col-lg-10 ind-col last-col'>
            <%= @translations[c.buildNameKey] %>
          </div>
        </div>
        <% end %>
        <%
          ind_codes = JSON.load(tree.matching_codes)
          ind_codes.each do |ia|
            code = "#{tree.buildRootKey}.#{ia}.name"
        %>
          <p><%= "#{I18n.translate('app.labels.indicator')} #{ia}: #{@translations[code]}" %></p>
        <% end %>
      </div>
      <div class='related-items-table'>
        <div class='row center-label-bold top-label'>
          <div class='col col-lg-12'>
            <%= I18n.t('nav_bar.sectors.name') %>
              <% if @editMe %>
                <a href="#"><span class="pull-right">
                  <i class="fa fa-plus-square fa-lg"></i>
                </span></a>
              <% end %>
          </div>
        </div>
        <div class='row'>
          <div class='col col-lg-6 rel-sector-col center-label'>
            <%= I18n.t('trees.labels.related_sectors') %>
          </div>
          <div class='col col-lg-6 rel-reason-col center-label'>
            <%= I18n.t('trees.labels.how_sectors_related') %>
          </div>
        </div>
        <% tree.sector_trees.each do |st| %>
          <div class='row'>
            <div class='col col-lg-6 rel-sectors'>
              <%= link_to(
                "#{@translations[st.sector.name_key]}",
                sectors_path(
                  controller: 'sector',
                  action: 'index',
                  tree: {
                    sector_id: "#{st.sector.id}",
                    grade_band_id: "#{@tree.grade_band_id}",
                    subject_id: "#{@tree.subject_id}"
                  }
                ),
                html_options = {data: { :sector => st.sector.id }}
              ) %>
            </div>
            <div class='col col-lg-6 rel-reason-col val'>
              <%= @translations["#{st.explanation_key}"] %>
              <% if @editMe %>
                <a href="#"><span class="pull-right">
                  <i class="fa fa-trash fa-lg"></i>
                </span></a>
                <%= link_to 'Edit LO', edit_tree_path(st.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}  %>
                <a href="#"><span class="pull-right">
                  <i class="fa fa-edit fa-lg"></i>
                </span></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='related-items-table'>
        <div class='row subject-relations center-label-bold top-label'>
          <div class='col col-lg-12'>
            <%= I18n.t('trees.labels.outcome_connections') %>
              <% if @editMe %>
                <a href="#"><span class="pull-right">
                  <i class="fa fa-plus-square fa-lg"></i>
                </span></a>
              <% end %>
          </div>
        </div>
        <div class='connections-grid'>
          <div class='connections-header'>
            <div class='center-label sub-header-margin'>
              <%= I18n.t('trees.labels.relation') %>
            </div>
          </div>
          <div class='connections-header'>
            <div class='center-label sub-header-margin'>
              <%= I18n.t('app.labels.subject') %>
            </div>
          </div>
          <div class='connections-header'>
            <div class='center-label sub-header-margin'>
              <%= I18n.t('app.labels.code') %>
            </div>
          </div>
          <div class='connections-header'>
            <div class='center-label sub-header-margin'>
              <%= I18n.t('app.labels.description') %>
            </div>
          </div>
          <div class='connections-header'>
            <div class='center-label sub-header-margin'>
              <%= I18n.t('trees.labels.how_outcome_related') %>
            </div>
          </div>

        </div>
        <div class='connections-grid'>
          <% @relatedBySubj.each do |subj, rel|%>
            <% rel.each do |r| %>
              <div class='connections-item'>
                <%= r[:relationship] %>
              </div>
              <div class='connections-item'>
                <%= I18n.t("trees.labels.#{subj}") %>
              </div>
              <div class='connections-item'>
                <%= r[:code] %>
              </div>
              <div class='connections-item'>
                <% if r[:tid] == 0 %>
                  <%= @translations[r[:tkey]] %>
                <% else %>
                  <a href='/<%= @locale_code %>/trees/<%= r[:tid] %>'><%= @translations[r[:tkey]] %></a>
                <% end %>
              </div>
              <div class='connections-item'>
                <%= @translations[r[:explanation]] %>
                <% if @editMe %>
                  <a href="#"><span class="pull-right">
                    <i class="fa fa-trash fa-lg"></i>
                  </span></a>
                  <a href="#"><span class="pull-right">
                    <i class="fa fa-edit fa-lg"></i>
                  </span></a>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class='row teacher-label top-label'>
        <div class='col col-lg-12'>
          <%= I18n.t('trees.labels.teacher_header') %>
        </div>
      </div>
      <div class='teacher-grid'>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_1') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_2') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_3') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_4') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_5') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_6') %>
          </div>
        </div>
      </div>
      <div class='row outcome-row'>
        <div class='col col-lg-6 text-right'>
          <% if @editMe %>
            <span class='font-weight-bold'>Editing</span>
          <% else %>
            <%= link_to("Edit LO", tree_path(@tree.id, editme: @tree.id) ) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
