<% content_for(:title_code, 'trees.show.name') %>
<% content_for(:page_class, 'trees') %>

<%
  # to do - refactor this somehow?
  outcome = @tree
  component = outcome.present? ? outcome.getParentRec : nil
  area = component.present? ? component.getParentRec : nil
  active_dim_trees = @tree.dim_trees.where(:active => true)
%>
<div class='container'>
  <!--  loop through all tree items to display (to display multimle LOs when asked to display detail for higher Level tree item) -->
  <% @tree_items_to_display.each do |tree| %>
    <%
      detail_lookup = {
        "explanation": {tree: tree, indicator: true}, #indicator
        "explain": {tree: tree, comment: true}, #explanatory comment
        "sector": {title: @sectorName, expl: I18n.t('trees.labels.how_sectors_related'), details: tree.sector_trees.active, sector: true },
        "connect": {title: I18n.t('trees.labels.outcome_connections', outcome: (@hierarchies[tree.depth - 1].pluralize if @hierarchies.length > tree.depth - 1)), outcomes: true }
      }
      @dimsArray.each do |dim|
        detail_lookup[:"#{dim[:code]}"] = {
          title: dim[:name],
          details: tree.dim_trees.where(:active => true),
          dim_code: dim[:code],
          dim: true
        }
      end
    %>
    <div class='detail-page'>
      <% parents_by_depth = {}
        tree.getAllParents.map { |t| parents_by_depth[t.depth - 1] = t if t }
        parents_by_depth[@treeTypeRec[:outcome_depth]] = tree
      %>

      <!-- Display the translated descriptions of all parents for this item (Grade, Unit, Chapter, Outcome)  -->
      <% @detail_headers.each do |h| %>
        <% rec = parents_by_depth[h[:depth]] %>
        <% if rec %>
          <div class='row subject-<%= h[:name] %>-row'>
            <div class='col col-6 text-left'>
              <strong>
              <%= "#{@subjectByCode[tree.subject.code][:name] if h[:depth] == 0 }#{" #{@hierarchies[h[:depth]]} #{rec.codeArray.last}:" if h[:depth] > 0}" %>
              <% if h[:depth] > 0 %>
                </strong>
              <% end %>
              <%= @translations[rec.buildNameKey].html_safe %>
              <% if h[:depth] == 0 %>
                </strong>
              <% end %>
              <% if h[:depth] == @treeTypeRec[:outcome_depth] %>
                <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: 'outcome'}), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && (can_edit_type?(h[:name]) || current_user.subject_admin?(@subject_code)) %>
              <% end %>
            </div>
          </div>
        <% elsif h[:name] == 'weeks' || h[:name] == 'hours' %>
          <div class='row subject-<%= h[:name] %>-row'>
            <div class='col col-6 text-left'>
              <%
                durations = {
                  weeks: tree.outcome.duration_weeks == 1 ? I18n.translate('trees.labels.duration_weeks_html', weeks: tree.outcome.duration_weeks).singularize.html_safe : I18n.translate('trees.labels.duration_weeks_html', weeks: tree.outcome.duration_weeks).html_safe,
                  hours: tree.outcome.hours_per_week == 1 ? I18n.translate('trees.labels.hours_per_week_html', hours: tree.outcome.hours_per_week).singularize.html_safe : I18n.translate('trees.labels.hours_per_week_html', hours: tree.outcome.hours_per_week).html_safe,
                }
              %>
              <%= durations[:"#{h[:name]}"] %>
              <%= link_to(fa_icon("edit"), edit_tree_path(tree.id, tree: { edit_type: h[:name]}), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && (can_edit_type?(h[:name]) || current_user.subject_admin?(@subject_code)) %>
            </div>
          </div>
        <% end #if rec %>
      <% end #@detail_headers.each_with_index do |h, i| %>

      <div class='col col-lg-12 text-right'>
          <% if @editMe %>
            <span class='font-weight-bold'>Editing (<%= link_to("#{I18n.t('app.labels.leave_edit_mode')}", tree_path(@tree.id) ) %>)</span>
          <% else %>
            <%= link_to("Edit #{@hierarchies[@treeTypeRec[:outcome_depth]]}", tree_path(@tree.id, editme: @tree.id) ) if current_user.present? && (current_is_admin? || current_is_teacher?) %>
            <!-- # %= link_to("Edit LO", edit_tree_path(@tree.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) % -->
          <% end %>
        </div>


        <% @detailTables.each do |table|
          title, code, type, action, cats = table[:title_code_type_action_catsArr][0]
          puts "++++TABLE!!!! #{table[:title_code_type_action_catsArr]}"
          puts "++++TABLE PARTIAL!!!! #{table[:partial]}"
          %>
          <%=
            render partial: "trees/show/#{table[:partial]}", locals: {
              num_cols: table[:num_cols],
              num_rows: table[:num_rows],
              title_code_type_action_catsArr: table[:title_code_type_action_catsArr],
              detailsHash: @detailsHash,
              can_edit: can_edit_type?(type) || current_user.subject_admin?(@subject_code),
              detail_title: title,
              tree: @tree,
              indicator: table[:indicator],
              resource_codes: cats,
            }
          %>
        <% end %>







      <div class='row outcome-row'>
        <div class='col col-lg-6 text-right'>
          <% if @editMe && (can_edit_type?('resource') || current_user.subject_admin?(@subject_code)) %>
            <span class='font-weight-bold'>Editing</span>
          <% else %>
            <!-- %= # link_to("Edit LO", tree_path(@tree.id, editme: @tree.id) ) % -->
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
