<% content_for(:title_code, 'trees.show.name') %>
<% content_for(:page_class, 'trees') %>

<%
  # to do - refactor this somehow?
  outcome = @tree
  component = outcome.present? ? outcome.getParentRec : nil
  area = component.present? ? component.getParentRec : nil
%>

<div class='container'>
  <!--  loop through all tree items to display (to display multimle LOs when asked to display detail for higher Level tree item) -->
  <% @tree_items_to_display.each do |tree| %>
    <div class='detail-page'>
      <% tree_parents = tree.getAllParents %>

      <!-- Display the translated descriptions of all parents for this item (Grade, Unit, Chapter, Outcome)  -->
      <% @hierarchies.each_with_index do |e, i|
         if i <= @treeTypeRec[:outcome_depth]
           rec = (i == @treeTypeRec[:outcome_depth] ? tree : tree_parents[tree_parents.length - 1 - i])
           if rec
             label_text = @translations[rec.buildNameKey]
           %>
             <div class='row subject-<%= e.downcase %>-row'><div class='col col-lg-6 text-left'><%= "#{"#{@subjectByCode[tree.subject.code][:name]} " if i == 0 && rec}#{e} #{rec.codeArrayAt(i) if i > 0 && rec}" %>: <%= label_text %>
               <% if i == @treeTypeRec[:outcome_depth] %>
                 <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: 'outcome'}), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe %>
               <% end %>
             </div></div>
      <%  end
        end
      end %>

      <div class='col col-lg-12 text-right'>
          <% if @editMe %>
            <span class='font-weight-bold'>Editing (<%= link_to("#{I18n.t('app.labels.leave_edit_mode')}", tree_path(@tree.id) ) %>)</span>
          <% else %>
            <%= link_to("Edit #{@hierarchies[@treeTypeRec[:outcome_depth]]}", tree_path(@tree.id, editme: @tree.id) ) if current_user.present? %>
            <!-- # %= link_to("Edit LO", edit_tree_path(@tree.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) % -->
          <% end %>
        </div>

      <!-- Dynamically Ordered Tables -->
      <% @detail_areas.each do |area|
          detail_lookup = {
            "explanation": {tree: tree, indicator: true}, #indicator
            "explain": {tree: tree, comment: true}, #explanatory comment
            "bigidea": {title: @bigIdeasTitle, expl: I18n.t('app.labels.explanation'), details: tree.dim_trees.where(:active => true), dim_type: @treeTypeRec.big_ideas_dim_type, dim: true},
            "miscon": {title: @misconTitle, expl: I18n.t('app.labels.explanation'), details: tree.dim_trees.where(:active => true), dim_type: @treeTypeRec.miscon_dim_type, dim: true},
            "essq": {title: @essqTitle, expl: I18n.t('app.labels.explanation'), details: tree.dim_trees.where(:active => true), dim_type: @treeTypeRec.ess_q_dim_type, dim: true},
            "sector": {title: @sectorName, expl: I18n.t('trees.labels.how_sectors_related'), details: tree.sector_trees.active, sector: true },
             "connect": {title: I18n.t('trees.labels.outcome_connections', outcome: (@hierarchies[tree.depth - 1].pluralize if @hierarchies.length > tree.depth - 1)), outcomes: true }
          }
          detail = detail_lookup[:"#{area[:name]}"]
          %>
          <%
          if detail && (detail[:dim] || detail[:sector])%>
          <%=
          render partial: "trees/show/detail_area", locals: {
              detail_title: detail[:title],
              expl_header: detail[:expl],
              details: detail[:details],
              dim: detail[:dim],
              dim_type: detail[:dim_type],
              outcomes: detail[:outcome],
              sector: detail[:sector]
             }
          %>
          <%
          elsif detail && detail[:outcomes]
            %>
            <%=
              render partial: "trees/show/connect_detail", locals: { detail_title: detail[:title] }
            %>
          <%
          elsif detail && detail[:tree]
          %>
          <%=
            render partial: "trees/show/tree_detail_area", locals: {
                tree: detail[:tree],
                indicator: detail[:indicator],
                comment: detail[:comment]
              }
          %>
          <%
          end #detail && (detail[:dim] || detail[:sector]
          %>
      <% end #@detail_areas.each do |area| %>



      <!-- Supporting Resources Table -->
      <div class='row teacher-label top-label'>
        <div class='col col-lg-12'>
          <%= I18n.t('trees.labels.teacher_header') %>
        </div>
      </div>
      <div class='teacher-grid'>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_1') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_2') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_3') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_4') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_5') %>
          </div>
        </div>
        <div class='teacher-item'>
          <div class='center-label sub-header-margin'>
            <%= I18n.t('trees.labels.teacher_field_6') %>
          </div>
        </div>
      </div>
      <div class='row outcome-row'>
        <div class='col col-lg-6 text-right'>
          <% if @editMe %>
            <span class='font-weight-bold'>Editing</span>
          <% else %>
            <!-- %= # link_to("Edit LO", tree_path(@tree.id, editme: @tree.id) ) % -->
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
