<% content_for(:title_code, 'trees.show.name') %>
<% content_for(:page_class, 'trees') %>

<%
  # to do - refactor this somehow?
  outcome = @tree
  component = outcome.present? ? outcome.getParentRec : nil
  area = component.present? ? component.getParentRec : nil
%>
<div class='container'>
  <!--  loop through all indicators for this outcome -->
  <% @indicators.each do |tree| %>
    <div class='detail-page'>
      <div class='row subject-grade-row'><%= tree.subject.code %> <%= tree.grade_band.code %></div>
      <div class='row area-row'><%= "#{I18n.translate('app.labels.area')} #{tree.area}: #{@translations[area.buildNameKey]}" %></div>
      <div class='row component-row'><%= "#{I18n.translate('app.labels.component')} #{tree.component}: #{@translations[component.buildNameKey]}" %></div>
      <div class='row outcome-row'><%= "#{I18n.translate('app.labels.outcome')} #{tree.outcome}: #{@translations[outcome.buildNameKey]}" %></div>

      <div class='indicator-table'>
        <div class='indicator-name'>
          <%
            ind_codes = JSON.load(tree.matching_codes)
            ind_codes.each do |ia|
              code = "#{tree.buildRootKey}.#{ia}.name"
          %>
            <p><%= "#{I18n.translate('app.labels.indicator')} #{ia}: #{@translations[code]}" %></p>
          <% end %>
        </div>
        <div class='col indicator-info'>
          <div class='row'>
            <div class='col col-lg-6 rel-sector-col label'>
              <%= I18n.t('trees.labels.related_sectors') %>
            </div>
            <div class='col col-lg-6 rel-reason-col label'>
              <%= I18n.t('trees.labels.how_sectors_related') %>
            </div>
          </div>
          <div class='row'>
            <div class='col col-lg-6 rel-sector-col val'>
              <% tree.sectors.each do |s| %>
                <div class='row'>
                  <div class='col col-lg-12 rel-sectors'>
                    <%= link_to(
                      "#{s.code} - #{@translations[s.name_key]}",
                      sectors_path(
                        controller: 'sector',
                        action: 'index',
                        tree: {
                          sector_id: "#{s.id}",
                          grade_band_id: "#{@tree.grade_band_id}",
                          subject_id: "#{@tree.subject_id}"
                        }
                      ),
                      html_options = {data: { :sector => s.id }}
                    ) %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class='col col-lg-6 rel-reason-col val'>
              <%= @translations["#{tree.base_key}.explain"] %>
            </div>
          </div>
          <div class='row subject-relations label'>
            <div class='col col-lg-12'>
              <%= I18n.t('trees.labels.indicator_connections') %>
            </div>
          </div>
          <% @relatedBySubj.each do |subj, rel|%>
            <div class='row subject-relations'>
              <div class='col col-lg-12' style='background-color: #eee;'>
                <%= I18n.t("trees.labels.#{subj}") %>
              </div>
              <% rel.each do |r| %>
                <div class='col col-lg-12' style='padding-left: 30px;'>
                  <div class='row'>
                    <div class='col col-lg-1'>
                      <%= r[:code] %>
                    </div>
                    <div class='col col-lg-11'>
                      <% if r[:tid] == 0 %>
                        <%= @translations[r[:tkey]] %>
                      <% else %>
                        <a href='/<%= @locale_code %>/trees/<%= r[:tid] %>'><%= r[:tkey] %><%= @translations[r[:tkey]] %></a>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='row teacher-label label'>
        <div class='col col-lg-12'>
          <%= I18n.t('trees.labels.teacher_header') %>
        </div>
      </div>
      <div class='teacher-grid'>
        <div class='teacher-item'>
          <%= I18n.t('trees.labels.teacher_field_1') %>
          <br><br><br>
        </div>
        <div class='teacher-item'>
          <%= I18n.t('trees.labels.teacher_field_2') %>
          <br><br><br>
        </div>
        <div class='teacher-item'>
          <%= I18n.t('trees.labels.teacher_field_3') %>
          <br><br><br>
        </div>
        <div class='teacher-item'>
          <%= I18n.t('trees.labels.teacher_field_4') %>
          <br><br><br>
        </div>
        <div class='teacher-item'>
          <%= I18n.t('trees.labels.teacher_field_5') %>
          <br><br><br>
        </div>
        <div class='teacher-item'>
          <%= I18n.t('trees.labels.teacher_field_6') %>
          <br><br><br>
        </div>
      </div>
    </div>
  <% end %>
</div>
