<% content_for(:title_code, 'trees.show.name') %>
<% content_for(:page_class, 'trees') %>

<%
  # to do - refactor this somehow?
  outcome = @tree.getParentRec
  component = outcome.present? ? outcome.getParentRec : nil
  area = component.present? ? component.getParentRec : nil
%>
<div class='container'>
  <div class='detail-page'>
    <div class='row subject-grade-row'><%= @tree.subject.code %> <%= @tree.grade_band.code %></div>
    <div class='row area-row'><%= "#{I18n.translate('app.labels.area')} #{@tree.area}: #{@translations[area.buildNameKey]}" %></div>
    <div class='row component-row'><%= "#{I18n.translate('app.labels.component')} #{@tree.component}: #{@translations[component.buildNameKey]}" %></div>
    <div class='row outcome-row'><%= "#{I18n.translate('app.labels.outcome')} #{@tree.outcome}: #{@translations[outcome.buildNameKey]}" %></div>
    <div class='indicator-table'>
      <div class='indicator-name' style=''>
        <%= "#{@tree.code}: #{I18n.translate('app.labels.indicator')} #{@tree.indicator}: #{@translations[@tree.buildNameKey]}" %>
      </div>
      <div class='col indicator-info'>
        <div class='row'>
          <div class='col col-lg-6 rel-sector-col label'>
            Related Sectors KBE.
          </div>
          <div class='col col-lg-6 rel-reason-col label'>
            How Sector KBE is related.
          </div>
        </div>
        <div class='row'>
          <div class='col col-lg-6 rel-sector-col val'>
            <% @tree.sectors.each do |s| %>
              <div class='row'>
                <div class='col col-lg-12 rel-sectors'>
                  <%= link_to(
                    "#{s.code} - #{@translations[s.name_key]}",
                    sectors_path(
                      controller: 'sector',
                      action: 'index',
                      tree: {
                        sector_id: "#{s.id}",
                        grade_band_id: "#{@tree.grade_band_id}",
                        subject_id: "#{@tree.subject_id}"
                      }
                    ),
                    html_options = {data: { :sector => s.id }}
                  ) %>
                </div>
              </div>
            <% end %>
          </div>
          <div class='col col-lg-6 rel-reason-col val'>
            <%= @translations["#{@tree.base_key}.explain"] %>
          </div>
        </div>
        <div class='row subject-relations label'>
          <div class='col col-lg-12'>
            Connections to Other Indicators
          </div>
        </div>
        <div class='row subject-relations'>
          <div class='col col-lg-12'>
            Current Subject (Chemistry)
          </div>
        </div>
        <div class='row subject-relations'>
          <div class='col col-lg-12'>
            Math
          </div>
        </div>
        <div class='row subject-relations'>
          <div class='col col-lg-12'>
            Geography
          </div>
        </div>
        <div class='row subject-relations'>
          <div class='col col-lg-12'>
            Physics
          </div>
        </div>
        <div class='row subject-relations'>
          <div class='col col-lg-12'>
            Biology
          </div>
        </div>
        <div class='row subject-relations'>
          <div class='col col-lg-12'>
            ICT
          </div>
        </div>
      </div>
    </div>
    <div class='row teacher-field'>
      <div class='col col-lg-12'>
        Teacher Field
      </div>
    </div>
    <div class='row teacher-field'>
      <div class='col col-lg-12'>
        Teacher Field
      </div>
    </div>
    <div class='row teacher-field'>
      <div class='col col-lg-12'>
        Teacher Field
      </div>
    </div>
    <div class='row teacher-field'>
      <div class='col col-lg-12'>
        Teacher Field
      </div>
    </div>
    <div class='row teacher-field'>
      <div class='col col-lg-12'>
        Teacher Field
      </div>
    </div>
    <div class='row teacher-field'>
      <div class='col col-lg-12'>
        Teacher Field
      </div>
    </div>
  </div>
</div>
