<div class="modal-header">
   <h3 id="myModalLabel"><%= @resource_type %></h3>
</div>
<div class="modal-body">

  <%= form_for(@resource, remote: true, data: { type: 'script' }) do |f| %>
    <div class="hidden_fields">
      <%= f.hidden_field :id, name: 'resource[id]', value: @resource.id if @resource.id %>
      <%= f.hidden_field :resource_code, name: 'resource[resource_code]', value: @resource.resource_code %>
      <%= f.hidden_field :resource_resourceable_type, name: 'resource[resourceable_type]', value: @join[:resourceable_type] if @join %>
      <%= f.hidden_field :resource_resourceable_type, name: 'resource[resourceable_id]', value: @join[:resourceable_id] if @join %>
      <%= f.hidden_field :resource_resourceable_type, name: 'resource[user_id]', value: @join[:user_id] if @join %>
      <%= f.hidden_field :translation_id, name: 'translation[id]', value: @translation.id if @translation.id %>
    </div>
    <!--feilds for editing the Outcome and Indicator text-->
  	<fieldset>
    	<%= f.cktext_area :translation_value, name: 'translation[value]', id: 'translation_value', style: {className: "pull-left"}, value: @translation.value, ckeditor: {toolbar: 'mini', language: @locale_code, uiColor: '#b0e0e6'}  %>
    </fieldset>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  <% end %>

</div>