<% content_for(:title_code, 'uploads.upload.name') %>
<% content_for(:page_class, 'uploads') %>
<h2 class='h4'><%= translate('uploads.upload.h2') %></h2>
<ul class='titleList'>
  <li><%= "#{translate('app.labels.subject')}: #{@upload.subject.code}" %></li>
  <li><%= "#{translate('app.labels.grade_band')}: #{@upload.grade_band.code}" %></li>
  <li><%= "#{translate('app.labels.language')}: #{@upload.locale.name}" %></li>
</ul>
<div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 col-xs-12">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= BaseRec::UPLOAD_PROGRESS_PCT[@upload.status] %>%" aria-valuenow="<%= BaseRec::UPLOAD_PROGRESS_PCT[@upload.status] %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<h4><%= "#{translate('uploads.labels.status')}: #{BaseRec::UPLOAD_STATUS[@upload.status]}" %></h4>
<% if @status_detail.present? %>
  <div class='align-left'>
    <%= "#{translate('uploads.labels.last_errors')}: " %><%= @status_detail.html_safe %>
  </div>
<% end # if %>
<% if @errs.count > 0 %>
  <div class='error'><%= @errs.count %> Errors</div>
  <% @errs.each do |e| %>
    <div class='error'><%= e %></div>
  <% end %>
<% end # if %>
<br>
<ul class='titleList'>
<% if @status_detail.present? || @errs.count > 0 %>
  <li><%= "#{translate('app.labels.subject')}: #{@upload.subject.code}" %></li>
  <li><%= "#{translate('app.labels.grade_band')}: #{@upload.grade_band.code}" %></li>
  <li><%= "#{translate('app.labels.language')}: #{@upload.locale.name}" %></li>
<% end # if %>
</ul>

<div><%= @messages %></div>
<h5 class='h6'><%= @message %></h5>
<%= form_tag do_upload_upload_path, {multipart: true, class: 'text-center'} do |form| %>
  <%= file_field(:upload, :file, accept: 'text/txt', class: 'text-center') %>
  <br>
  <input type='hidden' id='phase1' name='phase' value='1'/>
  <div class='text-center'>
  <button class='btn btn-primary' type='submit'>Upload</button>
<% end %>

<% if @rptRecs.count > 0 %>
  <table id='uploadReport' class='table table-striped table-bordered'>
    <thead>
      <tr>
        <th><%= translate('app.labels.row') %></th>
        <th><%= translate('app.labels.grade_band') %></th>
        <th><%= translate('app.labels.area') %></th>
        <th><%= translate('app.labels.component') %></th>
        <th><%= translate('app.labels.outcome') %></th>
        <th><%= translate('app.labels.indicator')  %></th>
        <th><%= translate('app.labels.code') %></th>
        <th style="width: 30%;"><%= translate('app.labels.description') %></th>
        <th style="width: 30%;"><%= translate('app.labels.message') %></th>
      </tr>
    </thead>
    <tbody>
<%
    @rptRecs.each do |rec|
%>
      <tr data-code='<%= rec[4] %>'>
<%
      rec.each_with_index do |col, ix|
%>
        <td class='col<%= BaseRec::UPLOAD_RPT_COL[ix] %>'><%= col.to_s %></td>
<%
      end # col of rec
%>
      </tr>
<%
    end # each rec
%>
    </tbody>
  </table>
<%
  end # if @rptRecs
%>
