<h1 class='h2'>Curriculum Uploads Management</h1>
<h2 class='h3'>Upload Curriculum file for:</h2>
<h3 class='h6'>Subject: <%= @upload.subject.code %></h3>
<h3 class='h6'>Grade Band: <%= @upload.grade_band.code %></h3>
<h3 class='h6'>Language: <%= @upload.locale.name %></h3>
<div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 col-xs-12">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= Upload::UPLOAD_PROGRESS_PCT[@upload.status] %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<h4 class='h4'>Status: <%= Upload::UPLOAD_STATUS[@upload.status] %></h4>
<h5 class='h6'><%= @message %></h5>
<%= form_tag do_upload_upload_path, {multipart: true, class: 'text-center'} do |form| %>
  <%= file_field(:upload, :file, accept: 'text/csv', class: 'text-center') %>
  <br>
  <button class='btn btn-primary' type='submit'>Upload</button>
<% end %>
