<% content_for(:title, 'Uploads Listing') %>
<% content_for(:page_class, 'uploads') %>

<h1>Uploads Listing</h1>
<p><%= link_to "Create new Upload", new_upload_url() %></p>
<table id='uploadsTable'>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Grade</th>
      <th>Locale</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @uploads.each do |u| %>
      <tr id="id_<%= u.id %>">
        <td><%= u.subject.code %></td>
        <td><%= u.grade_band.code %></td>
        <td><%= u.locale.name %></td>
        <td><%= ApplicationRecord::UPLOAD_STATUS[u.status] %></td>
        <td>
          <%= link_to "Upload", start_upload_upload_url(id: u.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
