<div class='related-items-table'>
  <div class='row center-label-bold top-label'>
    <div class='col col-lg-12'>
      <%= detail_title %>
      <%= link_to(fa_icon("plus-square"), edit_tree_path(@tree.id, tree: { edit_type: 'sector', attr_id: 'new'}), {:remote => true, :class => "fa-lg pull-right", 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && sector && can_edit %>
    </div>
  </div>
  <% detailsFound = 0 %>
  <% details.each do |dt| %>
  <!-- Dimensions Table (e.g., misconceptions, etc) -->
  <%
  if dim
    d = dt.dimension
    if d.dim_code == dim_code
      detailsFound += 1
    %>
    <div class='row'>
      <div class='col col-lg-12 rel-sectors'>
        <%= @translations[d.dim_name_key] %>
        <% if @editMe && can_edit %>
        <%= link_to(fa_icon("times"), tree_path(@tree.id, tree: { edit_type: 'dimtree', attr_id: dt[:id], active: false}, sector_tree: {active: false}), {:class => "fa-lg pull-right", 'data-confirm' => I18n.t('app.labels.confirm_deactivate', item: @translations[d.dim_name_key]), method: :patch}) if @editMe %>
        <% end #if @editMe %>
      </div>
    </div>
  <%
    end #if d.dim_code == dim_code
  elsif sector
    st = dt
    detailsFound += 1
  %>
    <div class='row'>
    <div class='col col-lg-12 rel-sectors'>
      <%= link_to(
        "#{@translations[st.sector.name_key]}",
        sectors_path(
          controller: 'sector',
          action: 'index',
          tree: {
            sector_id: "#{st.sector.id}",
            grade_band_id: "#{@tree.grade_band_id}",
            subject_id: "#{@tree.subject_id}"
          }
        ),
        html_options = {data: { :sector => st.sector.id }}
      ) %>
      <% if @editMe && can_edit %>
        <%= link_to(fa_icon("times"), tree_path(@tree.id, tree: { edit_type: 'sector', attr_id: st[:id], active: false}, sector_tree: {active: false}), {:class => "fa-lg pull-right", 'data-confirm' => I18n.t('app.labels.confirm_deactivate', item: @translations[st.sector.name_key]), method: :patch}) if @editMe %>
      <% end %>
    </div>
  </div>

<% end #if dim, elsif sector
end #details.each do |dt|
%>
<% if detailsFound == 0 %>
  <div class="row">
    <div class="col rel-sectors"></div>
  </div>
<% end %>
</div>