<!-- Dimensions Table (e.g., misconceptions, etc) -->
<% dt = details
   d = (dt.dimension || dt[:dimension]) if dt
%>
<div class="dark-border--left <%= @editMe && can_edit ? "generic-grid generic-grid--xl-xs" : "" %>">
  <div class="padding-left padding-right padding-top padding-bottom">
    <% dim_link = dimension_path(d.id) if details && @dimDisplayHash[d.dim_code] %>
    <% if dim_link %>
      <a href="<%= dim_link %>">
        <%= html_safe_translations(@translations[d.dim_name_key]) if details %>
      </a>
    <% else %>
      <%= html_safe_translations(@translations[d.dim_name_key]) if details %>
    <% end %>
  </div>
  <div class="padding-right padding-top padding-bottom">
    <% if @editMe && can_edit %>
    <%= link_to(fa_icon("times"), tree_path(@tree.id, tree: { edit_type: 'dimtree', attr_id: dt[:id], active: false}, sector_tree: {active: false}), {:class => "fa-lg", 'data-confirm' => I18n.t('app.labels.confirm_deactivate', item: @translations[d.dim_name_key]), method: :patch}) if details && @editMe %>
    <% end #if @editMe %>
  </div>
</div>
<% if category_codes %>
  <% category_codes.each do |code| %>
    <div class='dark-border--left col padding-left padding-right padding-top padding-bottom'>
      <%= html_safe_translations(
            d.resource_name(
                @locale_code,
                Dimension::RESOURCE_TYPES[code.to_i],
                nil
            )
          ) if details
      %>
    </div>
  <% end %>
<% end %>