<% detail_order = [] %>
<div class='related-items-table'>
  <div class='row center-label-bold top-label generic-grid generic-grid--cols-<%= num_cols %>'>
    <% title_code_type_action_catsArr.each do |arr|
      detail_title, detail_code, edit_type, action, category_arr = arr
      detail_order << detail_code
    %>
      <% if detail_title.length > 1 %>
      <div class='dark-border--left padding-right padding-left'>
        <%= detail_title %>
        <%= link_to(fa_icon("plus-square"), edit_tree_path(@tree.id, tree: { edit_type: edit_type, attr_id: 'new'}), {:remote => true, :class => "fa-lg pull-right", 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && (action == 'create') && can_edit
         %>
      </div>
      <% end %>
      <% if category_arr
        category_arr.each do |cat|
          category_title = Outcome.get_resource_name(
            Outcome::RESOURCE_TYPES[cat.to_i],
            @treeTypeRec.code,
            @versionRec.code,
            @locale_code) if @editTypes[detail_code][:name] == "resource"
          category_title = Dimension.get_resource_name(
            Dimension::RESOURCE_TYPES[cat.to_i],
            @treeTypeRec.code,
            @versionRec.code,
            @locale_code,
            Dimension::RESOURCE_TYPES[cat.to_i]) if @editTypes[detail_code][:name] == "dimtree"
      %>
        <div class='dark-border--left padding-right padding-left'>
          <%= "#{detail_title.length > 0 ? "#{detail_title}: " : ""}#{category_title}" %>
        </div>
      <%  end # category_codes.each do |code|
         end # if category_codes %>
    <% end # title_type_action_catsArr_detailArr.each do |arr|%>
  </div>
  <!--End of headers-->
  <!--Start table content-->
  <% [*0..(num_rows.to_i-1)].each do |ix| %>
    <div class='row'>
      <div class='dark-border generic-grid generic-grid--cols-<%= num_cols %>'>
        <% detail_order.each do |detail_code| %>
            <%
              detail = @detailsHash[detail_code][ix] if detailsHash[detail_code]
              partial_path = "/trees/show/#{@editTypes[detail_code][:name]}"
            %>
            <%=
              render partial: partial_path, locals: {
                details: detail,
                detail_title: detail_code,
                type_code: detail_code,
                category_codes: @editTypes[detail_code][:codes],
                render_label: false,
                can_edit: can_edit_type?(detail_code) || current_user.subject_admin?(@subject_code),
               }
            %>

        <% end %>
      </div>
    </div>
  <% end %>
</div>