<!--
  Generic Table, can be used to build expandable header tables (set expandable to true), or tables as part of the main section of the detail page.
    locals:
      table: {
        expandable : Boolean,
        code: Integer,
        depth: nil || Integer,
        num_rows: Integer,
        headers_array: {
          transl_key: str,
          add: nil || {path, options: {}},
          resource_code
        }
        content_array : [
          {
            rec: rec,
            label_key: nil,
            transl_key: str,
            detail_href: nil || path
            edit: nil || { path, options: {} },
            delete: nil || { path, options: {} },
          },
          {...}
        ]
      }
-->
<!-- Supporting Resources Table -->
<% resource_codes = table[:headers_array].map { |e| e[:resource_code]  } %>
<div class= 'dark-border margin-top'>
  <div class='row dark-border colorful-header colorful-header-<%= @treeTypeRec.outcome_depth %>'>
    <div class='col col-lg-12'>
      <%= I18n.t('trees.labels.teacher_header') %>
      <%= link_to(fa_icon("gear"), edit_tree_path(@tree.id, tree: {edit_type: "ref_settings##{resource_codes.join('#')}"}), {:class => "fa-lg", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can?(:manage, Translation) %>
    </div>
  </div>
  <div class='generic-grid generic-grid--cols-2'>
    <% table[:content_array].each_with_index do |content, ix|
      puts "INDEX: #{ix}, headers: #{table[:headers_array].count}"
      header = table[:headers_array][ix]
      puts "header: #{header.inspect}"
      %>
      <div>
        <div class="dark-border colorful-header colorful-header-<%= @treeTypeRec.outcome_depth %> sub-header-margin">
          <%= @translations[header[:transl_key]] %>
          <%= link_to(fa_icon("plus"), header[:add][:path], header[:add][:options]) if @editMe && header[:add] && can?(:create, Resource.new(resource_code: header[:resource_code])) %>
        </div>
        <% content.each do |c| %>
          <%= render partial: "/trees/show/generic_column_cell", locals: {
                content: c
                }
          %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>