<!-- Connections to Other Outcomes Table -->
<div class='related-items-table'>
  <div class='row subject-relations center-label-bold top-label'>
    <div class='col col-lg-12'>
      <%= detail_title %>
        <% if @editMe && can_edit && false %>
          <a href="#"><span class="pull-right">
            <i class="fa fa-plus-square fa-lg"></i>
          </span></a>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class='connections-grid'>
      <div class='connections-header'>
        <div class='center-label sub-header-margin'>
          <%= I18n.t('trees.labels.relation') %>
        </div>
      </div>
      <div class='connections-header'>
        <div class='center-label sub-header-margin'>
          <%= I18n.t('app.labels.subject') %>
        </div>
      </div>
      <div class='connections-header'>
        <div class='center-label sub-header-margin'>
          <%= I18n.t('app.labels.code') %>
        </div>
      </div>
      <div class='connections-header'>
        <div class='center-label sub-header-margin'>
          <%= I18n.t('app.labels.description') %>
        </div>
      </div>
    </div>
    <div class="connections-grid connections-grid__diagram">
      <div class='connections-header'>
        <div class='center-label sub-header-margin'>
          <%= I18n.t('app.labels.alluvial') %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='connections-grid'>
      <%
        connectionsFound = 0
        alluvial_nodes = [tree.format_code(@locale_code)]
        alluvial_node_pos = {:x => [0.5], :y => [0]}
        leftNodes = 0
        midNodes = 1
        rightNodes = 0
        alluvial_node_colors = [BaseRec.subject_color(tree.subject.code)]
        alluvial_links =  {
              "hoverInfo": "label",
              "source": [],
              "target": [],
              "value": [],
              "color": [],
              "label": []
            }
        tree_code = tree.format_code(@locale_code)
      %>
      <% @relatedBySubj.each do |subj, rel|%>
        <% rel.each do |r|
           connectionsFound += 1
           alluvial_nodes << r[:code]
           alluvial_node_colors << BaseRec.subject_color(r[:subj_code])
           case r[:rel_code]
              when TreeTree::DEPENDS_KEY
                alluvial_links[:source] << connectionsFound
                leftNodes += 1
                alluvial_node_pos[:x] << -0.2
                alluvial_node_pos[:y] << leftNodes
                alluvial_links[:target] << 0
                alluvial_links[:color] << "rgb(255, 201, 181)"
                alluvial_links[:label] << "#{tree_code} #{r[:relationship]} #{r[:code]}"
              when TreeTree::APPLIES_KEY
                alluvial_links[:source] << 0
                rightNodes += 1
                alluvial_node_pos[:x] << 1.2
                alluvial_node_pos[:y] << rightNodes
                alluvial_links[:target] << connectionsFound
                alluvial_links[:color] << "rgb(255, 253, 181)"
                alluvial_links[:label] << "#{tree_code} #{r[:relationship]} #{r[:code]}"
              else
                alluvial_links[:source] << connectionsFound
                leftNodes += 1
                alluvial_node_pos[:x] << -0.2
                alluvial_node_pos[:y] << leftNodes
                alluvial_links[:target] << 0
                alluvial_links[:color] << "white"
                alluvial_links[:label] << "#{tree_code} #{r[:relationship]} #{r[:code]}"
           end
           alluvial_links[:value] << 1
        %>
          <div class='connections-item'>
            <%= r[:relationship] %>
          </div>
          <div class='connections-item'>
            <%= r[:subj] %>
          </div>
          <div class='connections-item'>
            <%= r[:code] %>
          </div>
          <div class='connections-item'>
            <% if r[:tid] == 0 %>
              <%= @translations[r[:tkey]] %>
            <% else %>
              <a href='/<%= @locale_code %>/trees/<%= r[:tid] %>'><%= @translations[r[:tkey]] %></a>
            <% end %>
            <% if @editMe && can_edit %>
              <%= link_to(fa_icon("times"), tree_path(@tree.id, tree: { edit_type: 'treetree', attr_id: r[:ttid], active: false}, tree_tree: {active: false}), {:class => "fa-lg pull-right", 'data-confirm' => I18n.t('app.labels.confirm_deactivate', item: I18n.t("trees.labels.#{subj}") + ": " + r[:code]), method: :patch}) if @editMe && can_edit %>
              <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: 'treetree', attr_id: r[:ttid]}), {:remote => true, :class => "fa-lg pull-right", 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if connectionsFound == 0 %>
          <div class='connections-item rel-sectors'>
          </div>
          <div class='connections-item rel-sectors'>
          </div>
          <div class='connections-item rel-sectors'>
          </div>
          <div class='connections-item rel-sectors'>
          </div>
      <% end %>
    </div>
    <div class="connections-grid connections-grid__diagram">
      <div id='js-alluvial-container' class='js-alluvial connections-item rel-sectors'>
      </div>
    </div>
  </div>
</div>
<%= render partial: "trees/show/alluvial", locals: {
    alluvial_nodes: alluvial_nodes,
    alluvial_nodes_xpos: alluvial_node_pos[:x],
    alluvial_nodes_ypos: alluvial_node_pos[:y].map { |pos| (pos/[leftNodes,rightNodes].max) },
    alluvial_node_colors: alluvial_node_colors,
    alluvial_links: alluvial_links,
    chart_name: detail_title
  } if connectionsFound > 0
%>

