 <% if @hierarchies.count > @treeTypeRec[:outcome_depth] + 1 && indicator %>
  <div class='related-indicators'>
    <div class='row center-label-bold top-label'>
      <div class='col col-lg-12'>
        <%= @indicator_name %>
      </div>
    </div>
    <% tree.getAllChildren.each do |c| %>
    <div class='row'>
      <div class='col col-lg-2 ind-col'>
        <%= c.code %>
      </div>
      <div class='col col-lg-10 ind-col last-col'>
        <%= @translations[c.buildNameKey] %>
        <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: 'indicator', attr_id: c.id}), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit %>
      </div>
    </div>
    <% end %>
    <%
      ind_codes = JSON.load(tree.matching_codes)
      ind_codes.each do |ia|
        code = "#{tree.buildRootKey}.#{ia}.name"
    %>
      <p><%= "#{I18n.translate('app.labels.indicator')} #{ia}: #{@translations[code]}" %></p>
    <% end %>
  </div>
<% elsif comment %>
  <div class='comments'>
    <div class='row center-label-bold top-label'>
      <div class='col col-lg-12'>
        <%= I18n.translate('app.labels.comments') %>
        <%= link_to(fa_icon("edit"), edit_tree_path(@tree.id, tree: { edit_type: 'comment'}), {:class => "fa-lg pull-right", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_popup'}) if @editMe && can_edit %>
      </div>
    </div>
    <div class='row'>
      <div class='col col-lg-12 ind-col'>
        <%= Translation.find_translation_name(@locale_code,tree.outcome.get_explain_key, "") %>
      </div>
    </div>
  </div>
<% end %>