<% content_for(:page_class, 'tfv') %>
<div class="margin-top padding-top">
  <div id="footerTFV">
    <div id="footerTitle"><%= @appTitle %></div>
    <div class="generic-grid generic-grid--cols-3-1-1">
      <div class="">
        <div class="footerTFV__col-header">
          <%= t('footer.contact_us') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.unesco_address').html_safe %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.unesco_contact').html_safe %>
        </div>
      </div>
      <div class="">
        <div class="footerTFV__col-header">
          <%= t('footer.navigate') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('nav_bar.signin.name') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('devise.registrations.sign_up.name') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('nav_bar.signin.name') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('nav_bar.signin.name') %>
        </div>
      </div>
      <div class="">
        <div class="footerTFV__col-header">
          <%= t('footer.terms.header') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.terms.use') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.terms.cookie') %>
        </div>
      </div>
      <div class="">
        <div class="footerTFV__col-header">
          <%= t('footer.donor.header') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.donor.desc') %>
        </div>
        <button>
          <%= t('footer.donor.button') %>
        </button>
      </div>
      <div>
        <div class="footerTFV__col-header">
          <%= t('footer.follow.header') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.follow.fb') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.follow.tw') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.follow.yt') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.follow.fl') %>
        </div>
        <div class="footerTFV__col-box">
          <%= t('footer.follow.rss') %>
        </div>
      </div>
    </div>
    <img src="<%= Rails.configuration.root_url %>/logo_shared.png" />
  </div>
  <div class="copyright">
    <%= t('footer.copyright').html_safe %>
  </div>

</div>
