<header id='pageHeader' class='d-flex flex-row justify-content-between'>
  <a id='pageHeaderLogo' class=' href='#'>
    <div class='logoImage'></div>
  </a>
  <div id='pageHeaderTitle' class=''>
    <h1 class='text-center'><%= content_for?(:title) ? yield(:title) : (content_for?(:title_code) ? translate(yield(:title_code)) : translate('app.title') ) %></h1>
  </div>
  <div id='pageHeaderShowNav' class=''>
    <ul id='locale-select'>
      <% if @locale_code == 'tr' %>
        <li class='cur-locale'>
          <span>Türk</span>
        </li>
      <% else %>
        <li class='locale-opt'>
          <a href='/users/lang/tr'>Türk</a>
        </li>
      <% end %>
      <% if @locale_code == 'en' %>
        <li class='cur-locale'>
          <span>English</span>
        </li>
      <% else %>
        <li class='locale-opt'>
          <a href='/users/lang/en'>English</a>
        </li>
      <% end %>
    </ul>
  </div>
</header>
<nav id='topNav' class="navbar navbar-expand-sm bg-light text-center">
  <ul class="navbar-nav mx-auto">
    <%
    if controller.controller_name == 'users' && action_name == 'home' %>
      <li class="nav-item active" aria-selected='true'>
        <a class="nav-link btn btn-primary" href=<%= home_users_path %>><%= translate('nav_bar.home.name') %></a>
      </li>
    <% else %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= home_users_path %>><%= translate('nav_bar.home.name') %></a>
      </li>
    <%
    end
    if controller.controller_name == 'trees' %>
      <li class="nav-item active" aria-selected='true'>
        <a class="nav-link btn btn-primary" href=<%= trees_path %>><%= translate('nav_bar.curriculum.name') %></a>
      </li>
    <% else %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= trees_path %>><%= translate('nav_bar.curriculum.name') %></a>
      </li>
    <%
    end
    if controller.controller_name == 'sectors' %>
      <li class="nav-item active" aria-selected='true'>
        <a class="nav-link btn btn-primary" href=<%= sectors_path %>><%= translate('nav_bar.sectors.name') %></a>
      </li>
    <% else %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= sectors_path %>><%= translate('nav_bar.sectors.name') %></a>
      </li>
    <%
    end
    if current_user.present? && current_user.is_admin?
      if controller.controller_name == 'uploads'
    %>
      <li class="nav-item active" aria-selected='true'>
        <a class="nav-link btn btn-primary" href=<%= uploads_path %>><%= translate('nav_bar.uploads.name') %></a>
      </li>
    <%  else %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= uploads_path %>><%= translate('nav_bar.uploads.name') %></a>
      </li>
    <%
        end
        if controller.controller_name == 'users'
    %>
      <li class="nav-item active" aria-selected='true'>
        <a class="nav-link btn btn-primary" href=<%= users_path %>><%= translate('nav_bar.users.name') %></a>
      </li>
    <% else %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= users_path %>><%= translate('nav_bar.users.name') %></a>
      </li>
    <%
        end
      end

      if current_user.present?
    %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= edit_user_path(current_user.id) %>><%= translate('nav_bar.my_account.name') %></a>
      </li>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= sign_out_path %>><%= translate('nav_bar.signout.name') %></a>
      </li>
    <% else %>
      <li class="nav-item" role='menuitem'>
        <a class="nav-link btn btn-primary" href=<%= new_user_session_path %>><%= translate('nav_bar.signin.name') %></a>
      </li>
    <% end %>
  </ul>
</nav>
<div id='pageSubHeaderTitle' class=''>
  <h1 class='text-center'><%= content_for?(:title_code) ? translate(yield(:title_code)) : translate('app.title') %></h1>
</div>
