<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title_code) ? translate(yield(:title_code)) : translate('app.title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id='outer-container' class="container-fluid">
      <%= render 'layouts/header' %>
      <% if flash[:notice].present? || flash[:alert].present? %>
        <div class=''>
          <% if flash[:notice].present? %><p class="notice"><%= flash[:notice] %></p><% end %>
          <% if flash[:alert].present? %><p class="alert"><%= flash[:alert] %></p><% end %>
        </div>
      <% end %>
      <div id='main-container' class='<%= content_for?(:page_class) ? " #{yield(:page_class)}" : "" %>' >
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/modal_popup' %>
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
  </body>

</html>
